<div class="loginbox">
    <div class="external">
        <p class="title">使用合作账号登录<span>(推荐)</span></p>
        <ul>
            <li>
                <a href="{{url}}/api/login/sina-auth" target="_blank" class="weibo" hidefocus>微博帐号</a>
            </li>
            <li>
                <a href="{{url}}/api/login/qq-auth" target="_blank" class="qq" hidefocus>QQ帐号</a>
            </li>
            <li>
                <a href="{{url}}/api/login/renren-auth" target="_blank" class="renren" hidefocus>人人账号</a>
            </li>
            <li>
                <a href="{{url}}/api/login/baidu-auth" target="_blank" class="baidu" hidefocus>百度帐号</a>
            </li>
        </ul>
        <div class="loginbox-placehold"></div>
        <p class="text">快捷登录，无需注册</p>
        <p class="text">与你的朋友分享你的爱！</p>
    </div>
    <div class="site">
        <p class="title">音悦Tai账号登录</p>
        <form id="loginBoxForm" action="https://login.yinyuetai.com/login-ajax" method="post">
            <p class="errorinfo">错误信息提示</p>
            <div class="email focuss">
                <input type="text" name="email" placeholder="您的邮箱地址或绑定手机"/>
            </div>
            <div class="password">
                <input type="password" class="pwd" placeholder="请输入密码"/>
            </div>
            <div id="captcha"></div>
            <div>
                <p class="autologin"><input type="checkbox" id="autocheckbox" name="autologin" checked hidefocus/><label for="autocheckbox">下次自动登录</label></p>
                <a class="forgot" href="{{url}}/forgot-password" target="_blank" hidefocus>忘记密码</a>
            </div>
            <div>
                <input class="submit" type="submit" hidefocus/>
                <p class="reg">还没有音悦Tai账号？<a href="{{url}}/register" target="_blank" hidefocus>立即注册！</a></p>
            </div>
        </form>
    </div>
</div>