/* 视频列表通用样式*/
.viedo-content {
  margin-top: 25px;
  width: 1219px;
  margin-left: -8px;
  .am-u-sm-3 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  $live-item-width: 288px;
  .item {
    .top-link {
      display: block;
      position: relative;
      overflow: hidden;
      /*height: 160px;*/
      img {
        width: $live-item-width;
        /*height: 160px;*/
      }
      .link-hover {
        width: $live-item-width;
        height: 160px;
        top: 0;
        left: 0;
        position: absolute;
        .status {
          width: 54px;
          height: 54px;
          &.living {
            background: url("../images/index/hover-bg_05.png") no-repeat;
          }
          &.preview {
            background: url("../images/index/hover-bg_03.png") no-repeat;
          }
        }
        .right-top {
          position: absolute;
          top: 8px;
          right: 8px;
          color: #fff;
          font-size: 12px;
          padding: 2px 5px;
          span {
            color: $main-text-color;
          }
          .white{
            color: #fff;
          }
        }
        .left-bottom {
          position: absolute;
          left: 8px;
          bottom: 8px;
          color: #fff;
          font-size: 12px;
          z-index: 2;
          &.info {
            .sub-info {
              display: block;
              margin-left: -5px;
              .icons {
                margin-left: 5px;
                width: 20px;
                height: 20px;
                background-position: 0 3px;
              }
            }
          }
          &.time {
            .sub-time {
              display: block;
            }
          }
          .sub-info {
            display: none;
          }
          .sub-time {
            display: none;
          }
        }
        .center {
          position: absolute;
          width: 52px;
          height: 52px;
          top: 50%;
          left: 50%;
          margin-top: -26px;
          margin-left: -26px;
          &.play {
            background: url("../images/index/index-icepy-5.png") no-repeat;
          }
          &.wait {
            background: url("../images/index/index-icepy-7.png") no-repeat;
            &:before {
              content: '敬请期待';
              display: inline-block;
              width: 25px;
              font-size: 12px;
              color: #fff;
              margin-top: 8px;
              margin-left: 13px;
            }
          }
        }
        footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 80px;
        }
      }
    }
    .anchor-info {
      /*margin: 10px 0;*/
      padding: 10px 5px;
      background: #fff;
      .title {
        width: 198px;
        font-weight: 600;
        font-size: 12px;
      }
      .name {
        color: $main-name-color;
        font-size: 12px;
        margin-left: 8px;
      }
      .avatar {
        width: 25px;
        height: 25px;
      }
      button {
        text-align: center;
        padding: 0;
        font-size: 12px;
        width: 65px;
        height: 45px;
        i {
          background: url("../images/index/hover_10.png") no-repeat;
          display: inline-block;
          height: 15px;
          width: 15px;
        }
        span {
          display: block;
        }
      }
    }
    footer {
      height: 15px;
      width: 100%;
    }
    .viedo-bg {
      background: url("../images/index/img-bottom-bg_03.png") no-repeat;
      background-size: 100%;
    }
  }
}
