//
   Created by AaronYuan on 4/20/16.
// ^内容区域
#anchorContainerBg.anchor-container.has-top-bar
    //section.header-bg
        img(src='/images/anchor-bg.jpg')
    .common_con
        #edit_background.clearfix.edit_Bg
            // 编辑背景
        .content.clearfix
            #set_Anchor_info.fl
                #broadCastFlash.BroadcastRoom
                    ul.bulletScreen
                        li
                            .tm 弹幕消息...
                .BR_Msg.clearfix
                    #currentAnchorInfo.hostMsg.fl
                    #noticeWraper.fr.annoucementCon
                #liveShowBtnWraper.anchor_control.clearfix
            // 留言
            #anchorCtrlChat.fl
// 内容区域$
