<li class="clearfix <%=msgType==0?'':'system-info'%>" data-msgType="<%=msgType%>" data-name="<%=nickName%>" data-id="<%=fromAccount%>">
  <%if(msgType == 0){%>
  <img src="<%=smallAvatar%>" alt="" class="fl visitor_avator">
  <%}%>
  <p class="visitor_chat fl">
    <%if(msgType == 0){%>
    <span class="visitorName"><%=nickName%></span>
    <%} else if(msgType == 4){%>
        <span class="visitorName"><%=nickName%></span>
    <%} else{%>
        <span class="visitorName">消息</span>
    <% }%>
    <span class="time"><%=time%></span>
    <br/>
    <span class="content"><%=content%></span
  </p>
  <div class="controls_forbid_reject">
    <a href="javascript:;" class="forbid theme-btn-color">禁言</a>
    <a href="javascript:;" class="reject theme-btn-color">踢出</a>
    <%if(userId) {%>
    <a href="javascript:;" data-name="<%=nickName%>" data-uid='<%=userId%>' class="ctrl theme-btn-color">场控</a>
    <%}%>
  </div>
</li>
