<div id="txtRoomName" class="room-name fl">房间加载中...</div>
<div class="room-title-right fr">
    <span class="online"> <span id="onlineTxt">在线人数</span>:<span class="red count font-yahei" id="txtOnline">0</span></span>
    <span class="popularity">人气:<span class="green count font-yahei" id="txtPopularity">0</span></span>
</div>
<!--上传图片弹出层-->
<div style="display: none;" class="shadow_screen">
    <div class="shadow"></div>
    <div class="edit_Bg_form">
        <h2 class="edit_title">背景图设置<span class="upload-status">正在上传</span><span class="upload-status">上传完成!</span><span
                class="close">X</span></h2>
        <div class="formCon clearfix">
            <div class="imgBox fl">
                <img src="" alt="" style="display: none;">
            </div>
            <div class="formBox fl">
                <form action="">
                    <div class="pseudo-uploadBtn">
                        上传图片
                        <input type="file" name="" id="file">
                    </div>
                    <p>支持5M以内的gif、jpg、jpge、png图片上传</p>
                    <div class="submit">保存</div>
                </form>
            </div>
        </div>
    </div>
</div>
