//
   Created by AaronYuan on 6/3/16.

div.popup-wrap
    div.popup-header.am-cf.boderRadTop_5
        span.am-fl 场控管理
        a.am-btn.am-btn-close.am-fr.icons.close
    div.popup-content
        div.detail
            div.am-g.first
                div.am-u-sm-3 用户ID
                div.am-u-sm-6 用户名
                div.am-u-sm-3 操作
            - for(var i=5; i>0; i--)
                div.am-g
                    div.am-u-sm-3.am-vertical-align
                        img.am-vertical-align-middle.am-circle.avatar(src='http://img1.yytcdn.com/user/avatar/160322/703-1458640483613/-M-216abfaf3d4ae2ee4d194029b70cdc9d_100x100.jpg')
                        span.id.am-vertical-align-middle.am-margin-left-sm 用户ID22
                    div.am-u-sm-6.name 用户名sdfasfasfas
                    div.am-u-sm-3
                        a.am-btn.btn-link 删除
        div.footer.am-padding-bottom
            div.form-input
                input.input-user-id.boderRadAll_5(type='number')
                buttion.am-btn.am-btn-red.boderRadAll_5.am-margin-left-xs 添加场控
                p.tip 输入用户音悦台ID,或者从聊天列表中选择用户添加场控权限
