<!--<div class="endLive m_disabled font-yahei">结束本次直播</div>-->
<!--<div class="startLive font-yahei">开启直播</div>-->

<div id="liveShowBtnWraper" class="anchor_control am-cf">
    <div class="luck-draw am-fl am-margin-right"><a class="btn"></a>
        <div class="tip am-circle"></div>
    </div>
    <button class="am-btn am-btn-purple am-fl boderRadAll_5 am-margin-left">发起抽奖</button>
    <button class="am-btn am-btn-purple am-fl boderRadAll_5">抽奖记录</button>
    <button class="endLive am-btn am-btn-red am-fr boderRadAll_5 am-margin-right-lg">结束直播</button>
    <button class="startLive am-btn am-btn-purple am-fr boderRadAll_5 am-margin-right-sm">开启直播</button>
</div>