<!--<h2 class="clearfix annoucement">-->
<!--<span class="fl .annoucement_title">公告</span>-->
<!--<span id="btnEditNotice" class="fr annoucement_editr">编辑</span>-->
<!--</h2>-->
<!--<p id="noticeWrap"></p>-->
<!--编辑公告弹出框-->
<div id="editNoticPanel" style="display: none;" class="shadow_screen">
    <div class="shadow closeNoticePanel"></div>
    <div class="edit_annmoucement_con" style="width: 450px;">
        <h2 class="edit_title has-title">文字输入<span class="close closeNoticePanel icons am-yyt-close close-white"></span></h2>
        <div class="editCon">
            <span class="title-tip">公告内容:</span>
            <textarea class="txt-notice boderRadAll_5" style="width: 375px;" id="txtNotice" placeholder="(公告文字请在50字以内)"></textarea>
            <div id="errNoticeTip" class="errTip"></div>
            <div class="tipTextarea" style="">你还可以输入<span class="red">50</span>个字</div>
            <p class="btn-wrap" style="">
                <a id="btnSubmitNotice" href="####" class="submit boderRadAll_3">确定</a>
                <a href="####" class="cancel closeNoticePanel boderRadAll_3">取消</a>
            </p>
        </div>
    </div>
</div>

<header class="boderRadTop_5 am-vertical-align">
    <i class="icon-voice am-vertical-align-middle"></i>
    <span class="title am-vertical-align-middle">直播公告</span>
    <a id="btnEditNotice" href="javascript:;"
       class="edit am-vertical-align-middle">编辑</a></header>
<section class="content am-vertical-align">
    <p id="noticeWrap" class="am-vertical-align-middle detail">暂无公告.</p>
</section>
