<div class="am-vertical-align room-manager-block">
    <a id="btn-clear" class="am-btn theme-btn-color am-vertical-align-middle boderRadAll_5">
        <i class="clear"></i><span>清屏</span></a>
    <a id="btn-lock" class="am-btn theme-btn-color am-vertical-align-middle boderRadAll_5">
        <i class="lock"></i><span>锁屏</span></a>
    <a id="btnFieldControl" class="am-btn theme-btn-color am-vertical-align-middle boderRadAll_5">
        <span class="ctrl first">场控</span>
        <span class="ctrl">管理</span>
    </a>
</div>
