<div class="am-container has-top-bar">
  <section class="living">
    <header class="am-vertical-align"><span class="am-vertical-align-middle am-serif">直播频道</span></header>
    <div class="am-cf">
      <div class="live-viedo am-fl">
        <div id="topFlash" class="viedo-wrap"></div>
        <footer class="am-fl"><span id="viedoName" class="title">加载中</span>
          <button id="btnGoLiveRoom" data-id="0" data-status="1" class="gotoLiveHome am-fr am-btn am-radius am-btn-red">进入直播间</button>
        </footer>
      </div>
      <aside class="viedo-list am-fr">
        <ul id="livingList">
          <!-- 视频列表-->
        </ul>
      </aside>
    </div>
  </section>
</div>
