@charset "UTF-8"; // 主播页, 公告弹出层
.edit_annmoucement_con {
  background-color: #fff !important;
  .close{
    height: 24px!important;
  }
  .editCon {
    position: relative;
    background-color: #fff;
    .errTip {
      position: absolute;
      bottom: 65px;
      left: 0;
      font-size: 12px;
      color: #ff6f6e;
    }
  }
  .txt-notice {
    width: 100%!important;
    border: 1px solid #c8c8c8;
    background-color: #f5f4f4;
    margin-bottom: 20px;
  }
  .tipTextarea {
    margin-top: -15px;
    text-align: right;
    padding-right: 0;
    font-size: 13px;
    color:#585757;
    .red{
      color: #ff6f6e;
    }
  }
}
