// 4. 发送消息
.room-manager-block {
  //background-color: #fff;
  text-align: center;
  position: relative;
  //border-top: 1px solid #efefef;
  .am-btn {
    width: 62px;
    height: 60px;
    margin: 0 8px;
    span {
      font-size: 14px;
      &.ctrl {
        display: block;
      }
      &.first {
        margin-top: 5px;
      }
    }
    i {
      margin: 0 auto;
      background-size: 100%;
      -webkit-background-size: 100%;
      display: block;
      width: 22px;
      height: 22px;
      &.clear {
        background-image: url(../images/clear.png);
        background-repeat: no-repeat;
      }
      &.lock {
        background-image: url(../images/clock.png);
        background-repeat: no-repeat;
      }

    }
  }
}
