<div class="following-wrap">
    <div class="item">
        <a class="avatar Left" href=""><img src="../img/bg-demo.jpg" alt=""></a>
        <div class="info-wrap Left">
            <div class="name">EXO全球购</div>
            <div class="played">主持的主播: <sapn class="total">33</sapn>场</div>
            <button class="btn Hand">取消关注</button>
        </div>
        <div class="Clear"></div>
    </div>
    <!---->
    <div class="item">
        <a class="avatar Left" href=""><img src="../img/bg-demo.jpg" alt=""></a>
        <div class="info-wrap Left">
            <div class="name">EXO全球购</div>
            <div class="played">主持的主播: <sapn class="total">33</sapn>场</div>
            <button class="btn Hand">取消关注</button>
        </div>
        <div class="Clear"></div>
    </div>
    <!---->
    <div class="item">
        <a class="avatar Left" href=""><img src="../img/bg-demo.jpg" alt=""></a>
        <div class="info-wrap Left">
            <div class="name">EXO全球购</div>
            <div class="played">主持的主播: <sapn class="total">33</sapn>场</div>
            <button class="btn Hand">取消关注</button>
        </div>
        <div class="Clear"></div>
    </div>
    <!---->
    <div class="item">
        <a class="avatar Left" href=""><img src="../img/bg-demo.jpg" alt=""></a>
        <div class="info-wrap Left">
            <div class="name">EXO全球购</div>
            <div class="played">主持的主播: <sapn class="total">33</sapn>场</div>
            <button class="btn Hand">取消关注</button>
        </div>
        <div class="Clear"></div>
    </div>
    <!---->

</div>