<li>
       <div class="uploadAd fl">
              <img src="../img/aP-list-ad.png" alt="">
       </div>
       <dl class="preLiveMsg fl">
              <dt>EXO 签售 exo 签售直播 EXO I啊活动</dt>
              <dd>直播时间：<span>2016/3/18 19:00</span></dd>
              <dd>视频连接：<span>http:v.yinyuetai.com/playlist/1234567</span><a href="javascript:;" class="copy">复制</a></dd>
              <dd class="ctl">
                     <a href="javascript:;">查看</a>
                     <a href="javascript:;" class="doing">已发布</a>
                     <a href="javascript:;">删除</a>
              </dd>
       </dl>
</li>
<li>
       <div class="uploadAd fl">
              <img src="../img/aP-list-ad.png" alt="">
       </div>
       <dl class="preLiveMsg fl">
              <dt>EXO 签售 exo 签售直播 EXO I啊活动</dt>
              <dd>直播时间：<span>2016/3/18 19:00</span></dd>
              <dd>视频连接：<span>http:v.yinyuetai.com/playlist/1234567</span><a href="javascript:;" class="copy">复制</a></dd>
              <dd class="ctl">
                     <a href="javascript:;">查看</a>
                     <a href="javascript:;">发布</a>
                     <a href="javascript:;">删除</a>
              </dd>
       </dl>
</li>
