<ul id="tab-menu-ctrl" class="subnav1 fl" style="height: inherit;">
       <li data-panel="tab-my-live" class="on">我的直播<span>&gt;</span></li>
       <li data-panel="createLiveVideo">创建直播<span>&gt;</span></li>
       <li data-panel="tabSetting">个人设置<span>&gt;</span></li>
       <li><a style="display: inline-block;width: 100%;" href="http://login.yinyuetai.com/logout">退出</a><span>&gt;</span></li>
</ul>
<div class="anPc-list fl tab-panel-wraper">
       <div id="tab-my-live" class="tab-panel myLiveBox show">
              <ol class="myLiveControls clearfix" id="liveState">
                     <li class="fl on" data-state="0">未开通</li>
                     <li class="fl"  data-state="1">历史直播</li>
              </ol>
              <div class="Mylive">
                     <div class="preLive show" id="noOpenListLive">
                            <ul id="noOpenContent"></ul>
                            <div class="page">
                            		<div class="PageBox" id="noOpenPageBox"></div>
                            </div>
                     </div>
                     <div class="liveHistory" id="historyListLive">
                            <ul id="historyContent"></ul>
                            <div class="page">
                            		<div class="PageBox" id="historyPageBox"></div>
                            </div>
                     </div>
              </div>
       </div>
       <div  class="tab-panel creatLive" id="createLiveVideo">
       </div>
       <div  class="tab-panel setting" id="tabSetting">
              <ol class="setContrl clearfix" id="profileSate">
                     <li class="fl on" data-state="0">个人资料</li>
                     <li class="fl" data-state="1">修改密码</li>
              </ol>
              <div class="set_Con">
                     <div class="personInfo show" id="editProfile">

                     </div>
                     <div class="modifyPwd" id="updatePassword">
                         
                     </div>

              </div>
       </div>
       <!-- <div class="signOut"></div> -->
</div>
