<ul id="tab-menu-ctrl" class="subnav1 fl" style="height: inherit;">
    <!--<li data-panel="tab-my-live" class="on">我的直播<span>&gt;</span></li>-->
    <!--<li data-panel="createLiveVideo">创建直播<span>&gt;</span></li>-->
    <!--<li data-panel="tabSetting">个人设置<span>&gt;</span></li>-->
    <!--<li data-panel="signout">退出<span>&gt;</span></li>-->
</ul>
<script type="text/template" id="menuTpl">
    {{each list as value}}
    <li data-panel="{{value.pannel}}" class="{{value.active?'on': ''}}">{{value.name}}<span>&gt;</span></li>
    {{/each}}
</script>
<div class="anPc-list fl tab-panel-wraper">
    <!--主播-->
    <div id="tab-my-live" class="tab-panel myLiveBox">
        <ol class="myLiveControls clearfix" id="liveState">
            <li class="fl on" data-state="0">未开播</li>
            <li class="fl" data-state="1">历史直播</li>
        </ol>
        <div class="Mylive">
            <div class="preLive show" id="noOpenListLive">
                <ul id="noOpenContent"></ul>
                <div class="page">
                    <div class="PageBox" id="noOpenPageBox"></div>
                </div>
            </div>
            <div class="liveHistory" id="historyListLive">
                <ul id="historyContent"></ul>
                <div class="page">
                    <div class="PageBox" id="historyPageBox"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-panel creatLive" id="createLiveVideo">
    </div>
    <!--个人-->
    <div class="tab-panel" id="recordList">
        <!--观看记录-->
    </div>

    <div class="tab-panel" id="followingList">
        <!--我的关注-->
    </div>

    <!--通用-->
    <div class="tab-panel setting" id="tabSetting">
        <ol class="setContrl clearfix" id="profileSate">
            <li class="fl on" data-state="0">个人资料</li>
            <li class="fl" data-state="1">修改密码</li>
        </ol>
        <div class="set_Con">
            <div class="personInfo show" id="editProfile">

            </div>
            <div class="modifyPwd" id="updatePassword">

            </div>

        </div>
    </div>
    <!-- <div class="signOut"></div> -->
</div>
