<ul id="tab-menu-ctrl" class="subnav fl" style="height: inherit;">
       <li data-panel="tab-my-live" class="on">我的直播<span>&gt;</span></li>
       <li data-panel="createLiveVideo">创建直播<span>&gt;</span></li>
       <li data-panel="tabSetting">个人设置<span>&gt;</span></li>
       <li data-panel="">退出<span>&gt;</span></li>
</ul>
<div class="anPc-list fl tab-panel-wraper">
       <div id="tab-my-live" class="tab-panel myLiveBox show">
              <ol class="myLiveControls clearfix" id="liveState">
                     <li class="fl on" data-state="0">未开通</li>
                     <li class="fl"  data-state="1">历史直播</li>
              </ol>
              <div class="Mylive">
                     <div class="preLive show" id="noOpenListLive">
                            <ul id="noOpenContent"></ul>
                            <div class="page" id="noOpenPageBox"></div>
                     </div>
                     <div class="liveHistory" id="historyLive">
                            <ul>
                                   <li>
                                          <div class="uploadAd fl">
                                                 <img src="../img/aP-list-ad.png" alt="">
                                          </div>
                                          <dl class="preLiveMsg fl">
                                                 <dt>EXO 签售 exo 签售直播 EXO I啊活动</dt>
                                                 <dd>时长：<span>01:58:29</span></dd>
                                                 <dd class="popularity">
                                                        <img src="../img/easy.png" alt=""><span>123</span>
                                                        <img src="../img/yun.png" alt=""><span>123</span>
                                                        <img src="../img/love.png" alt=""><span>123</span>
                                                 </dd>
                                                 <dd class="Pbar"><span></span></dd>
                                                 <dd class="pop">人气：<span>12345</span></dd>
                                          </dl>
                                   </li>
                            </ul>
                            <div class="page">
                                   <div class="PageBox">
                                          <a href="javascript:;" class="pre">&lt;</a>
                                          <a href="javascript:;">1</a>
                                          <a href="javascript:;" class="on">2</a>
                                          <a href="javascript:;">3</a>
                                          <span>.....</span>
                                          <a href="javascript:;" class="next">&gt;</a>
                                          <p>共<span>112</span>页</p>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <div  class="tab-panel creatLive" id="createLiveVideo">
       </div>
       <div  class="tab-panel setting" id="tabSetting">
              <ol class="setContrl clearfix" id="profileSate">
                     <li class="fl on" data-state="0">个人资料</li>
                     <li class="fl" data-state="1">修改密码</li>
              </ol>
              <div class="set_Con">
                     <div class="personInfo show" id="editProfile">
                            <ul>
                                   <li class="uploadAvator">
                                          <span class="fl PiTitle"><i>*</i>头像：</span>
                                          <div class="fl">
                                                 <img src="../img/personInfo-uploadBg.png" alt="" class="fl avatorNow">
                                                 <div class="uploadform fl">
                                                        <input type="file" name="" id="file">
                                                        <div>上传图片</div>
                                                        <p>支持5M以内的gif、jpg、jpeg、png图片上传</p>
                                                 </div>
                                          </div>
                                   </li>
                                   <li class="Inp_Pc_name">
                                          <span class="fl PiTitle"><i>*</i>名字：</span>
                                          <div class="fl">
                                                 <input type="text"><span class="tips"><img src="../img/1.jpg" alt="">你的名字里有敏感词，请重新输入 </span>
                                          </div>
                                   </li>
                                   <li class="tags">
                                          <span class="fl PiTitle"><i>*</i>标签：</span>
                                          <div class="fl">
                                                 <input type="text" placeholder="(多个标签中间请用逗号隔开)">
                                                 <br>
                                                 <input type="text">
                                                 <br>
                                                 <input type="text">
                                                 <br>
                                                 <input type="text">
                                                 <br>
                                                 <input type="text">
                                                 <br>
                                                 <input type="text">
                                                 <br>
                                          </div>
                                   </li>
                                   <li class="save">保存</li>
                            </ul>
                     </div>
                     <div class="modifyPwd" id="accountSettings">
                            <ul>
                                   <li class="Inp_Pc_name">
                                          <span class="fl PiTitle"><i>*</i>旧密码：</span>
                                          <div class="fl">
                                                 <input type="text">
                                          </div>
                                   </li>
                                   <li class="Inp_Pc_name">
                                          <span class="fl PiTitle"><i>*</i>新密码：</span>
                                          <div class="fl">
                                                 <input type="text">
                                          </div>
                                   </li>
                                   <li class="Inp_Pc_name">
                                          <span class="fl PiTitle"><i>*</i>确认新密码：</span>
                                          <div class="fl">
                                                 <input type="text">
                                          </div>
                                   </li>
                                   <li class="save">
                                          保存
                                   </li>
                            </ul>
                     </div>
              </div>
       </div>
       <!-- <div class="signOut"></div> -->
</div>
