<div class="record-wrap">
    <div class="item">
        <div class="line">
            <span class="point"></span>
            <span class="date">2016/12/12</span>
        </div>
        <div class="content">
            <a href="" class="img-wrap Left"><img src="../img/bg-demo.jpg" alt=""></a>
            <div class="info-wrap Left">
                <div class="item-title">exo前后会</div>
                <div class="time">时长: <span class="">10:23:34</span></div>
                <div class="anchor">
                    <img src="../img/bg-demo.jpg" alt="">
                    <a class="name" href="">主播名称</a>
                </div>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="icon-list">
            <span class="view">234</span>
            <span class="chat">343</span>
            <span class="like">12</span>
            <span class="hot">12</span>
        </div>
    </div>
    <!---->

    <div class="item">
        <div class="line">
            <span class="point"></span>
            <span class="date">2016/12/12</span>
        </div>
        <div class="content">
            <a href="" class="img-wrap Left"><img src="../img/bg-demo.jpg" alt=""></a>
            <div class="info-wrap Left">
                <div class="item-title">exo前后会</div>
                <div class="time">时长: <span class="">10:23:34</span></div>
                <div class="anchor">
                    <img src="../img/bg-demo.jpg" alt="">
                    <a class="name" href="">主播名称</a>
                </div>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="icon-list">
            <span class="view">234</span>
            <span class="chat">343</span>
            <span class="like">12</span>
            <span class="hot">12</span>
        </div>
    </div>
</div>