<!-- 普通用户 -->
<div class="fl avatorBg">
    <img style="width: 100px; height: 100px;" id="headAvatar" src="{{bigheadImg}}" alt="">
</div>
<div class="fl anchorrMsg">
    <h2>
        <span id="nickName" class="fl name user-name">{{nickName}}</span>
        <span class="gender male"></span>
    </h2>
    <div class="top-user-info">
        <span>观看直播:<span id="txtLive" class="black">0</span>次</span>
        <span>积分:<span id="txtScore" class="black">0</span></span>
        <span>饭票:<span id="txtTicket" class="black">0</span></span>
    </div>
</div>