@import 'common/base';
@import "common/theme";
@import 'common/topBar';
@import 'common/footer';
@import "anchor/main";
@import "common/loginbox";
@import "common/msgbox";
//确认框
@import "anchor/confirm";
@import "anchor/dialog";
//弹出框
@import 'common/uploadFileDialog';
@import 'live-room/msg-board.scss';
