@import "common/base";
@import "common/topBar";
@import "common/footer";
@import "anchor-setting/home";
@import "common/msgbox";

@import "anchor/confirm";
@import "anchor/dialog";
@import "common/uploadFileDialog";

@import "anchor-setting/record";
@import "anchor-setting/following";
@import "anchor-setting/extend";
@import "common/paging";