@import "liveroom";
@import "common/paging";

.am-container{
  background-color: #fff;
  margin-top: 90px;
}
.play-back-list {
  .top-header{
    margin: 10px 0 20px;
    font-size: 18px;
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 10px;
    .btn-left-wrap{
      font-size: 12px;
      i{
        display: inline-block;
        background-repeat:no-repeat;
        margin-left: 15px;
        float: left;
      }
      button{
        background-color: #f1f1f1;
        width: 80px;
        height: 35px;
        color: #bcbcbc;
        vertical-align: middle;
        &.active,&:hover{
          color: #fff;
          background-color: #27d5bf;
          &.new{
            i{
              background-image: url(../images/playback-icon-1_12.png);
            }
          }
          &.hot i{
            background-image: url(../images/playback-icon-1_03.png);
          }
        }
      }
      .new{
        margin-right: -3px;
        i{
          width: 18px;
          height: 18px;
          background-image: url(../images/playback-icon-1_06.png);
        }
      }
      .hot{
        i{
          width: 16px;
          height: 20px;
          background-image: url(../images/playback-icon-1_09.png);
        }
      }
    }
  }
  .recent-list-wrap {
    height:inherit;
    .list {
      padding: 0!important;
      .item {
        .img-wrap{
          width: 378px!important;
          height:218px!important;
        }
        .hover-wrap {
          position: relative;
          width: 378px!important;
          height:218px!important;
          display: inline-block!important;
          background: none!important;
          .top, .bottom{
            padding: 0 8px;
            vertical-align: middle;
            line-height: 30px;
            height: 30px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');
          }
          .top {
            position: absolute;
            display: inline-block;
            color: #ccc;
            top: 10px;
            right: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
          }
          .bottom {
            position: absolute;
            display: inline-block;
            left: 10px;
            bottom: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            .icons{
              margin-right: 5px;
              font-size: 12px;
            }
          }
        }
        .name {
          border-bottom: 1px solid #e1e1e1;
          padding: 15px 0;
        }
      }
    }
  }
}