@import "common/base";
@import "common/topBar";
@import "common/footer";
@import "common/msgbox";

@import "anchor/confirm";
@import "anchor/dialog";
@import "common/uploadFileDialog";

@import "anchor-setting/record";
@import "anchor-setting/following";
@import "anchor-setting/extend";
@import "common/paging";
@import "anchor-setting/create-live";
@import "anchor-setting/user-info";

@import "anchor-setting/my-live-show";
@import "anchor-setting/main";
