<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../style/normalize.css">
	<link rel="stylesheet" href="../../style/common.js.css">
	<link rel="stylesheet" href="../../style/topBar.css">
</head>
<body>
	<div class="topBar">
		<div class="stance"></div>
		<div class="topBarCon">
			<h1 class="log fl"></h1>
			<div class="userHandleCon fr">
				<div class="avator fl">
					<img src="" alt="">
					<div class="avatorShadow"></div>
				</div>
				<div class="subnav fl">
					<span class="username fl">jiaojiao</span>
					<b class="fl"></b>
				</div>
				<a href="#" class="goToIndex">返回</a>
			</div>
		</div>
	</div>
</body>
</html>