

.create-channel-video-wrap {
  .select-form {
    width: 560px;
  }
  .table-header {
    font-size: 20px;
    margin: 20px 0;
  }
  .table-wrap {
    max-height: 400px;
    overflow-y: scroll;
  }

}
.create-channel-play-form {
  width: 400px;
}
