// 页面布局
.anPc-container {
  padding-bottom: 52px;
  padding-top: 90px;
  background: #333 top center no-repeat;
}

.anPc-container {
  .title {
    position: relative;
    height: 240px;
    .editorBg_btn {
      width: 84px;
      height: 32px;
      line-height: 32px;
      background: #27d5bf;
      font-size: 12px;
      text-align: center;
      color: #fff;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    .editorBg_btn:hover {
      background: #5bdfcd;
    }
  }
}

.anchorMsg_con {
  height: 120px;
  padding-left: 47px;
  background: #fff;
  .avatorBg {
    padding: 3px;
    position: relative;
    top: -57px;
    background: #fff;
    margin-right: 16px;

  }
  .anchorrMsg {
    width: 300px;
    h2 {
      height: 45px;
      line-height: 45px;
      overflow: hidden;
      .name {
        font-size: 16px;
        color: #1fb5a2;
        margin-right: 67px;
      }
      .aPnum {
        font-size: 14px;
        color: #666;
      }
      i {
        font-size: 24px;
        color: #34d7c3;
        margin: 0 5px 0 10px;
      }
    }
    p {
      color: #999;
      font-size: 12px;
      span {
        color: #999;
        font-size: 12px;
        display: inline-block;
        padding: 5px 9px 6px 7px;
        background: #f4f3f3;
        margin-left: 2px;
        margin-bottom: 5px;
      }
    }
  }
}

.contentBox {
  background: #fff;
  padding-bottom: 60px;
}

.content {
  background: #fff;
  .subnav1 {
    background: blue;
    width: 200px;
    border: 1px solid #ededf0;
    border-bottom: 0 none;
    margin-right: -1px;
    position: relative;
    z-index: 2;
  }
  .anPc-list {
    min-height:300px;
    width: 969px;
    padding-left: 27px;
    padding-top: 17px;
    background: #fff;
    border: 1px solid #ededf0;
    position: relative;
    z-index: 1;
    .myLiveBox, .creatLive, .setting {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .tab-panel {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

.subnav1 {
  background: #fff;
  li {
    font-size: 12px;
    color: #999;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border-bottom: 1px solid #ededf0;
    background: #f6f6f7;
    position: relative;
    cursor: pointer;
    span {
      position: absolute;
      right: 30px;
      font-size: 20px;
      font-weight: lighter;
      font-family: 'arail';
      top: 2px;
      display: none;
    }
  }
  li:hover, li.on {
    font-size: 14px;
    color: #666;
    width: 201px;
    background: #fff;
    border-right: 0;
    span {
      display: block;
    }
  }
}

.page {
  padding: 40px 27px 35px 0;
  overflow: hidden;
}

.setting {
  .setContrl {
    border-bottom: 1px solid #e1e1e1;
    li {
      width: 132px;
      height: 41px;
      line-height: 41px;
      background: #f1f1f1;
      color: #999;
      text-align: center;
      font-size: 12px;
      margin-right: 1px;
      margin-bottom: 1px;
      cursor: pointer;
    }
    li.on {
      background: #34d7c3;
      color: #fff;
    }
  }
  .set_Con {
    .personInfo, .modifyPwd {
      display: none;
    }
    .show {
      display: block;
    }
  }
}

// mylive
.myLiveBox {
  .Mylive {
    .preLive, .liveHistory {
      display: none;
    }
    .show {
      display: block;
    }
  }
  .myLiveControls {
    border-bottom: 1px solid #e1e1e1;
    li {
      width: 132px;
      height: 41px;
      line-height: 41px;
      background: #f1f1f1;
      color: #999;
      text-align: center;
      font-size: 12px;
      margin-right: 1px;
      margin-bottom: 1px;
      cursor: pointer;
    }
    li.on {
      background: #34d7c3;
      color: #fff;
    }
  }
}

// prelive
.preLive {
  ul {
    // height: 1038px;
  }
  li {
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .uploadAd {
    margin-right: 19px;
    width: 210px;
    height: 118px;
    img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .uploadForm {
    text-align: center;
    height: 103px;
    background: #f6f6f7;
    position: relative;
    padding-top: 15px;
    .zanweitu {
      width: 55px;
      height: 55px;
      background: url('../images/upload-img-anchor-setting.png') no-repeat center;
      background-size: 100%;
      -webkit-background-size: 100%;
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 12px;
      padding-top: 20px;
      color: #c3c3c3;
    }

  }
  .preLiveMsg {
    width: 695px;
    h4 {
      width: 60px;
      display:inline-block;
    }
    div {
      max-width: 660px;
      display:inline-block;
      word-break: break-all
    }
  }
  dt {
    font-size: 14px;
    color: #333;
    line-height: 23px;
    margin-bottom: 4px;
  }
  dd {
    overflow: hidden;
    font-size: 12px;
    color: #999;
    line-height: 26px;
    .copy {
      color: #34d7c3;
      margin-left: 20px;
    }
    .copy:hover {
      text-decoration: underline;
    }
  }
  dd.ctl {
    overflow: hidden;
    a, span {
      margin-top: 15px;
      width: 64px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #fff;
      background: #34d7c3;
      display: inline-block;
      margin-right: 25px;
      cursor: pointer;
    }
    .disable {
      color: #fff;
      background: #d3d1d1;
      cursor: default;
    }
  }
}

.pseudo-uploadBtn {
  position: relative;
  .file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

// 分页
.PageBox {
  float: right;
  span {
    width: 37px;
    height: 37px;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    color: #acacac;
    background: #f8f8f8;
    float: left;
    margin-right: 1px;
    cursor: pointer;
  }
  .ellipsis {
    float: left;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: lighter;
    padding: 0 10px;
  }
  span:hover {
    color: #fff;
    background: #27d5bf;
  }
  span.now {
    color: #fff;
    background: #27d5bf;
    cursor: default;
  }
  .upDown {
    width: 54px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-family: 'arail';
    font-size: 26px;
  }
  .pre, .next {
    width: 54px;
    color: #acacac;
    background: #f8f8f8;
    font-size: 20px;
    font-family: 'arail';
  }
  .on {
    color: #fff;
    background: #27d5bf;
  }
  p {
    clear: both;
    text-align: right;
    color: #acacac;
    padding-top: 7px;
    i {
      color: #5c5c5c;
      margin: 0 5px;
    }
  }
  .disabled {
    background: #fff;
    color: #acacac;
    width: 30px;
    letter-spacing: 1px;
    cursor: default;
  }
  .disabled:hover {
    background: #fff;
    color: #acacac;
  }
}

// 历史直播
.liveHistory {
  li {
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .uploadAd {
    margin-right: 19px;
    width: 212px;
    height: 120px;
    img {
      width: 100%;
      //height: 100%;
    }
  }
  .preLiveMsg {
    width: 330px;
    .dark-color {
      color: #666666;
    }
    .date {
      margin-right: 16px;
    }
  }
  .popularity-wrap {
    .progress-wrap {
      background-color: #434343;
      width: 140px;
      height: 5px;
      border: none;
      .progress {
        background-color: #27d5bf;
        width: 30%;
        height: 5px;
        border: none;
      }
    }
    .border-radius {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }
  dt {
    font-size: 14px;
    color: #333;
    line-height: 23px;
    margin-bottom: 4px;
  }
  dd {
    font-size: 12px;
    color: #999;
    padding: 7px 0;
  }
  .popularity {
    //margin-bottom: 13px;
    span {
      display: inline;
      margin: 0 12px 0 5px;
    }
  }
  .Pbar {
    padding: 0;
    position: relative;
    width: 140px;
    height: 5px;
    border-radius: 5px;
    background: #434343;
    span {
      height: 100%;
      width: 0px;
      border-radius: 5px;
      background: #27d5bf;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .pop {
    span {
      color: #34d7c3;
      font-size: 12px;
    }
  }
}

.creatLive {
  padding: 35px 0 0 41px;
  width: 790px;
  input {
    width: 278px;
    height: 32px;
    line-height: 32px;
    text-indent: 1em;
    border: 1px solid #dadada;
  }
  input:hover {
    border-color: #27d5bf;
  }
  .Inp_name, .Inp_artist {
    height: 34px;
    line-height: 34px;
    margin-bottom: 18px;
    span {
      color: red;
    }
  }
  .Inp_artist {
    position: relative;
    ul {

      position: absolute;
      width: 280px;
      left: 69px;
      top: 34px;
      z-index: 40;
    }
    li {
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-indent: 1em;
      background: #f6f4f4;
      color: #7a7a7a;
    }
    li:hover {
      background: #5bdfcd;
      color: #fff;
    }
  }
  .Inp_time {
    .tit {
      float: left;
      margin-right: 4px;
    }
    .redX {
      color: red;
    }
    em {
      margin: 0 9px 0 5px;
    }
    line-height: 34px;
    padding-bottom: 150px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    width: 75px;
    height: 35px;
    line-height: 23px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 0;
    border: 1px solid #dadada;
    position: relative;
    span {
      display: inline-block;
      width: 36px;
      text-align: center;
    }
    img {
      float: right;
    }
    ul {
      display: none;
      position: absolute;
      top: 33px;
      left: -1px;
      width: 75px;
      z-index: 30;
      height: 200px;
      overflow: auto;
    }
    li {
      height: 32px;
      line-height: 32px;
      width: 100%;
      text-align: center;
      background: #f6f4f4;
      color: #7a7a7a;
      cursor: pointer;
    }
    li:hover {
      background: #5bdfcd;
      color: #fff;
    }
  }
  .submit {
    width: 361px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #27d5bf;
  }
  .submit:hover {
    background: #5bdfcd;
  }
}

//个人资料
.personInfo {
  padding: 63px 0 0 23px;
  li {
    overflow: hidden;
  }
  .uploadAvator {
    padding-bottom: 77px;
    .avatorNow {
      min-width: 40px;
      min-height: 40px;
      max-width: 180px;
      max-height: 180px;
      //width: 180px;
      //height: 180px;
    }
  }
  .PiTitle {
    width: 60px;
    line-height: 34px;
    i {
      color: red;
      margin-right: 9px;
    }
  }
  .uploadform {
    padding-top: 4px;
    width: 316px;
    text-align: center;
    position: relative;
    div {
      width: 120px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 14px;
      margin: 0 auto;
      color: #fff;
      background: #27d5bf;
      margin-bottom: 14px;
      cursor: pointer;
    }
    .file {
      width: 120px;
      height: 38px;
      background: blue;
      opacity: 0;
      position: absolute;
      top: 4px;
      left: 97px;
      cursor: pointer;
    }
    p {
      color: #bcbbbb;
    }
  }
  .Inp_Pc_name {
    padding-bottom: 27px;
    input {
      width: 278px;
      height: 32px;
      border: 1px solid #dadada;
      text-indent: 1em;
    }
    input:hover {
      border-color: #27d5bf;
    }
    .tips {
      color: #f91772;
      // display: none;
    }
    img {
      margin: 10px 3px 0 15px;
    }
  }
  .tags {
    input {
      width: 278px;
      height: 32px;
      border: 1px solid #dadada;
      text-indent: 1em;
      margin-bottom: 15px;
      line-height: 32px;
    }
    input:hover {
      border-color: #27d5bf;
    }
  }
  .save {
    width: 360px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    background: #27d5bf;
    color: #fff;
    margin: 110px 0 0 230px;
  }
  .save:hover {
    background: #5bdfcd;
  }
}

//修改密码
.modifyPwd {
  padding: 63px 0 0 22px;
  li {
    overflow: hidden;
    margin-bottom: 18px;
  }
  .PiTitle {
    width: 80px;
    margin-right: 20px;
    text-align: right;
    height: 34px;
    line-height: 34px;
    color: #7a7a7a;
    i {
      color: red;

    }
  }
  input {
    width: 280px;
    height: 34px;
    border: 1px solid #dadada;
    line-height: 34px;
    padding-left: 10px;
  }
  input:hover {
    border-color: #27d5bf;
  }
  .save {
    width: 360px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    background: #27d5bf;
    color: #fff;
    margin: 110px 0 0 230px;
  }
  .save:hover {
    background: #5bdfcd;
  }
}
