// 个人信息
.personInfo {
  padding: 63px 0 0 23px;
  li {
    overflow: hidden;
  }
  .uploadAvator {
    padding-bottom: 77px;
    .avatorNow {
      min-width: 40px;
      min-height: 40px;
      max-width: 180px;
      max-height: 180px;
      //width: 180px;
      //height: 180px;
    }
  }
  .PiTitle {
    width: 60px;
    line-height: 34px;
    i {
      color: red;
      margin-right: 9px;
    }
  }
  .uploadform {
    padding-top: 4px;
    width: 316px;
    text-align: center;
    position: relative;
    div {
      width: 120px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 14px;
      margin: 0 auto;
      color: #fff;
      background: #27d5bf;
      margin-bottom: 14px;
      cursor: pointer;
    }
    .file {
      width: 120px;
      height: 38px;
      background: blue;
      opacity: 0;
      position: absolute;
      top: 4px;
      left: 97px;
      cursor: pointer;
    }
    p {
      color: #bcbbbb;
    }
  }
  .Inp_Pc_name {
    padding-bottom: 27px;
    input {
      width: 278px;
      height: 32px;
      border: 1px solid #dadada;
      text-indent: 1em;
    }
    input:hover {
      border-color: #27d5bf;
    }
    .tips {
      color: #f91772;
      // display: none;
    }
    img {
      margin: 10px 3px 0 15px;
    }
    .name-err-tip{
      display: inline-block;
      background-image: url(../images/1.jpg);
      vertical-align: middle;
      width: 16px;
      height: 16px;
    }
  }
  .tags {
    input {
      width: 278px;
      height: 32px;
      border: 1px solid #dadada;
      text-indent: 1em;
      margin-bottom: 15px;
      line-height: 32px;
    }
    input:hover {
      border-color: #27d5bf;
    }
  }
  .save {
    width: 360px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    background: #27d5bf;
    color: #fff;
    margin: 110px 0 0 230px;
  }
  .save:hover {
    background: #5bdfcd;
  }
}

// 修改密码
.modifyPwd {
  padding: 63px 0 0 22px;
  li {
    overflow: hidden;
    margin-bottom: 18px;
  }
  .PiTitle {
    width: 80px;
    margin-right: 20px;
    text-align: right;
    height: 34px;
    line-height: 34px;
    color: #7a7a7a;
    i {
      color: red;

    }
  }
  input {
    width: 280px;
    height: 34px;
    border: 1px solid #dadada;
    line-height: 34px;
    padding-left: 10px;
  }
  input:hover {
    border-color: #27d5bf;
  }
  .save {
    width: 360px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    background: #27d5bf;
    color: #fff;
    margin: 110px 0 0 230px;
  }
  .save:hover {
    background: #5bdfcd;
  }
}
