<div class="viedo-name-list am-u-lg-6">
  <div class="table-header">
    节目单列表
  </div>
  <div class="table-wrap">
    <table class="am-table am-table-hover am-table-compact">
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>直播时间</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody id="showListWrap">
        <!-- <tr>
          <td>Amaze UI</td>
          <td class="name">://amazeui.</td>
          <td>
            <button class="am-btn am-btn-red am-btn-xs am-round"><i class="am-icon-check"></i> 发布</button>
            <button class="am-btn am-btn-xs am-round"><i class="am-icon-close"></i>删除</button>
          </td>
        </tr> -->
        <tr>
          <td colspan="3">暂无数据</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tip">
    选中行查看视频列表
  </div>
</div>

<div class="video-list am-u-lg-6">
  <div class="table-header">
    视频列表
  </div>
  <div class="table-wrap">
    <table class="am-table am-table-striped">
      <thead>
        <tr>
          <th>视频编号</th>
          <th>视频名称</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody id="videoListWrap">
        <!-- <tr>
          <td>Amaze UI</td>
          <td>http://amazeui.org</td>
          <td>2012-10-01</td>
        </tr> -->
        <tr>
          <td colspan="3">暂无数据</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
