<div class="create-channel-video-wrap am-margin-top-xl">
  <form class="am-form select-form">
    <fieldset>
      <!-- <legend>表单标题</legend> -->
      <div class="am-form-group">
        <label for="doc-select-1">我的频道</label>
        <select class="select-channel" id="doc-select-1">
          <option value="0">请选择频道</option>
        </select>
        <span class="am-form-caret"></span>
      </div>
    </fieldset>
  </form>

  <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="javascript: void(0)">节目单</a></li>
      <li><a href="javascript: void(0)">创建节目单</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div id="channelShowVideosBlock" class="am-tab-panel am-active am-g">
        <!-- <div class="viedo-name-list am-u-lg-6">
          <div class="table-header">
            节目单列表
          </div>
          <div class="table-wrap">
            <table class="am-table am-table-hover">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>名称</th>
                  <th>状态</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Amaze UI</td>
                  <td class="name">://amazeui.</td>
                  <td>
                    <button class="am-btn am-btn-red am-btn-xs am-round"><i class="am-icon-check"></i> 发布</button>
                    <button class="am-btn am-btn-xs am-round"><i class="am-icon-close"></i>删除</button>
                  </td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr class="am-active">
                  <td>Amaze UI(Active)</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tip">
            选中行查看视频列表
          </div>
        </div>

        <div class="video-list am-u-lg-6">
          <div class="table-header">
            视频列表
          </div>
          <div class="table-wrap">
            <table class="am-table">
              <thead>
                <tr>
                  <th>网站名称</th>
                  <th>网址</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr class="am-active">
                  <td>Amaze UI(Active)</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
                <tr>
                  <td>Amaze UI</td>
                  <td>http://amazeui.org</td>
                  <td>2012-10-01</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->

      </div>
      <div class="am-tab-panel" id="createChannelPlayBlock">

      </div>
    </div>
  </div>


</div>
