<div class="create-channel-video-wrap am-margin-top-xl">
  <form class="am-form select-form">
    <fieldset>
      <!-- <legend>表单标题</legend> -->
      <div class="am-form-group">
        <label for="doc-select-1">我的频道</label>
        <select class="select-channel" id="channelSelect">
          <option value="0">请选择频道</option>
        </select>
        <span class="am-form-caret"></span>
      </div>
    </fieldset>
  </form>

  <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="javascript: void(0)">节目单</a></li>
      <li><a href="javascript: void(0)">创建节目单</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div id="channelShowVideosBlock" class="am-tab-panel am-active am-g">
        <!--  -->
      </div>
      <div class="am-tab-panel" id="createChannelPlayBlock">
        <!--  -->
      </div>
    </div>
  </div>


</div>
