{{each data as item}}
<tr data-showid="{{item.id}}" data-showname="{{item.name}}">
  <td>{{item.id}}</td>
  <td class="name">{{item.name}}</td>
  <td>{{item.beginTimeTxt}}</td>
  <td>
    {{if item.status == 0}}
    <button data-action='publish' class="am-btn am-btn-red am-btn-xs am-round"><i data-action='publish' class="am-icon-check"></i> 发布</button>
    <button data-action='delete' class="am-btn am-btn-xs am-round"><i data-action='delete' class="am-icon-close"></i>删除</button>
    {{else if item.status == 1}}
    <span>已发布</span>
    {{else if item.status == 2}}
    <span>直播中</span>
    {{else if item.status == 3}}
    <span>已结束</span>
    {{/if}}
  </td>
</tr>
{{/each}}
{{if data.length <= 0}}
<tr>
  <td colspan="3">暂无数据</td>
</tr>
{{/if}}
