<ul>
	<li class="Inp_name">
		<span class="am-margin-right-sm">*</span>直播名称：
		<input type="text" maxlength="15" placeholder="输入直播名" id="liveVideoName"><span class="tip" style="margin-left: 16px;">限15个字以内</span>
	</li>
	<li class="Inp_artist">
		<span class="am-margin-right-sm">*</span>选择艺人：
		<input type="text" placeholder="输入文字" id="inputActorName">
		<ul id="selectorActor">
			 <script type="text/html" id="selectorActorTemp">
				{{each items as item}}
				      <li data-id="{{item[0]}}">{{item[1]}}</li>
				{{/each}}
			 </script>
		</ul>
	</li>
	<li class="Inp_time">
		<div class="tit"><span class="redX am-margin-right-sm">*</span>直播时间：</div>
		<div id="liveTime">
			<script type="text/html" id="liveTimeTemp">
				{{each items as item i}}
					<div class="select" style="{{item.style}}" data-index="{{i}}">
						<span class="date">{{item.cur}}</span>
						<!--<img src="{{timeImage}}" alt="" >-->
						<span class="split"></span>
						<span class="arrowDownOuter"></span>
						<ul class="selectDate" data-index="{{i}}" data-tag="{{item.tag}}">
							{{each item.cells as cell}}
								<li>{{cell}}</li>
							{{/each}}
						</ul>
					</div>
					<em>{{item.name}}</em>
					<!--{{if item.division}}-->
						<!--<br/>-->
					<!--{{/if}}-->
				{{/each}}
			</script>
			<script type="text/html" id="cellsTemp">
				{{each cells as cell}}
					<li>{{cell}}</li>
				{{/each}}
			</script>
		</div>

	</li>
	<!--<div class="submit m_disabled" id="createVideo">创建</div>-->
</ul>
<div class="button-wrap">
	<button class="submit am-btn am-btn-red am-center boderRadAll_3 m_disabled" id="createVideo">创建</button>
</div>
