<div class="am-form create-channel-play-form">
  <fieldset>
    <div class="am-form-group">
      <label for="doc-ipt-email-1">节目单名称</label>
      <input type="text"  id="channelShowName" placeholder="输入节目名称">
    </div>
    <div class="am-form-group">
      <label for="doc-ta-1">视频编号</label>
      <span class="add-tip">视频编号请示使用逗号或者空格分隔开</span>
      <textarea rows="5" id="channelVideoList" placeholder="请使用逗号或者空格作为分隔符"></textarea>
    </div>

    <p>
      <button id='btnCreateShow' class="am-btn am-btn-red am-around">创建</button>
    </p>
  </fieldset>
</div>
