<div class="am-form create-channel-play-form">
  <fieldset>
    <div class="am-form-group">
      <label for="doc-ipt-email-1">节目单名称</label>
      <input type="text" id="channelShowName" placeholder="输入节目单名称">
    </div>
    <div class="am-form-group">
      <label for="doc-ipt-email-1">轮播次数</label>
      <input type="number" id="channelShowNum" min='1' max="5" placeholder="输入轮播次数">
    </div>
    <div class="am-form-group">
      <label for="doc-ipt-email-1">开始时间</label>
      <input type="text" readonly id="channelSHowStartTime" class="form-datetime am-form-field" placeholder="请选择时间">
    </div>
    <div class="am-form-group">
      <label for="doc-ta-1">视频编号</label>
      <span class="add-tip">视频编号请示使用逗号或者空格分隔开</span>
      <textarea rows="5" id="channelVideoList" placeholder="请使用逗号或者空格作为分隔符"></textarea>
    </div>

    <p>
      <button id='btnCreateShow' class="am-btn am-btn-red am-round">创建</button>
    </p>
  </fieldset>
</div>
