<ul>
    <li class="uploadAvator">
        <span class="fl PiTitle"><i>*</i>头像：</span>
        <div class="fl">
            <img id="imgUserAvatar" data-src="../img/personInfo-uploadBg.png" src="../img/personInfo-uploadBg.png"
                 alt="" class="fl avatorNow">
            <div class="uploadform fl">
                <div class="am-btn-red boderRadAll_3">
                    <span id="btnUploadAvatar">上传图片</span>
                    <form id="userAvatarForm" class="upload-form"></form>
                </div>
                <p>支持5M以内的gif、jpg、jpeg、png图片上传</p>
            </div>
            <input id="txtImg" type="hidden" value="">
        </div>
    </li>
    <li class="Inp_Pc_name">
        <span class="fl PiTitle"><i>*</i>昵称：</span>
        <div class="fl">
            <input id="txtName" placeholder="昵称" class="userInfoChanged" maxlength="30" type="text">
            <span style="display: none;" class="tips"><i class="name-err-tip"></i> 你的名字里有敏感词，请重新输入 </span>
        </div>
    </li>
    <li class="tags">
        <span class="fl PiTitle"><i>*</i>标签：</span>
        <div class="fl">
            <input id="txtTags" class="userInfoChanged" type="text" placeholder="(多个标签中间请用逗号隔开)">
            <div class="light-color am-margin-top">多个标签中间请用逗号隔开,每个标签最多5个字,最多拥有5个标签.</div>
        </div>
    </li>
</ul>
<div class=" am-margin-top-xl am-padding-top">
    <button id="btnSave" class="m_disabled am-center am-btn am-btn-red boderRadAll_3">保存</button>
</div>
