<div class="following-wrap has-top-space">
    <div id="followList">
        加载中...
    </div>
    <!---->
    <script type="text/x-template" id="followTpl">
        {{each data.users as item}}
        <div class="item">
            <a class="avatar Left" href="###" data-uid="{{item.uid}}">
                <img data-uid="{{item.uid}}" src="{{item.largeAvatar}}" alt=""></a>
            <div class="info-wrap Left">
                <div class="name">{{item.nickName}}</div>
                <div class="played">主持的主播:
                    <sapn class="total">{{item.liveCount}}</sapn>
                    场
                </div>
                <button data-id="{{item.uid}}" class="am-btn am-btn-red boderRadAll_3">取消关注</button>
            </div>
            <div class="Clear"></div>
        </div>
        {{/each}}
        {{ if data.users.length<= 0 }}
        <div class="no-data">
            暂无数据
        </div>
        {{/if}}
    </script>
    <!---->
    <div class="page-block">
        <div class="page-wrap" id="followPageWrap">

        </div>
    </div>

</div>