{{each items as item}}
<div class="item am-g am-g-collapse am-margin-top am-margin-bottom am-padding-bottom" data-id="{{item.id}}"
     data-key="{{item.liCacheKey}}" data-img="{{item.posterPic}}" data-liveTime="{{item.liveTime}}">
    <div class="am-u-sm-3 img am-margin-right">
        {{if item.posterPic}}
        <img src="{{item.posterPic}}" alt="">
        {{/if}}
    </div>
    <div class="am-u-sm-9">
        <div class="room-title">{{item.roomName}}</div>
        <div class="time"><span class="tip am-margin-right-sm">直播时间</span><span
                class="value date">{{item.liveVideoTime}}</span>
        </div>
        <div class="viedo">
            <span class="tip am-margin-right-sm">视频连接</span>
            <span class="value">{{item.livePushStreamUrl}}</span>
            <a href="javascript:;" class="copy am-margin-left-xl" data-value="{{item.livePushStreamUrl}}">复制</a>
        </div>
        <div class="viedo">
            <span class="tip am-margin-right-sm">视频流</span>
            <span class="value">{{item.streamName}}</span>
            <a href="javascript:;" class="copy am-margin-left-xl" data-value="{{item.livePushStreamUrl}}">复制</a>
        </div>
        <div class="btn-wrap">
            <a href="{{item.lookUrl}}" class="am-btn am-btn-red boderRadAll_3">查看</a>
            {{if item.status === 1}}
            <button class="am-btn am-btn-red boderRadAll_3 disabled">已发布</button>
            {{else if item.status == 2}}
            <button class="am-btn am-btn-red boderRadAll_3 disabled">直播中</button>
            {{else if item.status == 0}}
            <button data-state="2" class="am-btn am-btn-red boderRadAll_3 disabled">发布</button>
            <button data-state="3" class="am-btn am-btn-red boderRadAll_3">删除</button>
            {{/if}}
        </div>
    </div>
</div>
{{/each}}
