<!---->
<div class="tab-content my-live-show-wrap" id="tab-my-live">
  <div class="top-header am-margin-top-xl am-margin-bottom">
    <div id="liveState" class="live-status-wrap boderRadAll_5">
      <a href="javascript:;" data-state="0" class="right-border active">未开播</a>
      <a style="margin-left: -4px;" href="javascript:;" data-state="1">历史直播</a>
    </div>
  </div>
  <div class="list-wrap">
    <div id="noOpenListLive" class="unClosed-list-wrap">
      <div id="noOpenContent">
      </div>
      <!-- 分页 -->
      <div class="page-block">
        <div class="page-wrap" id="noOpenPageBox">

        </div>
      </div>
    </div>
    <div id="historyListLive" class="closed-list-wrap Hidden">
      <div id="historyContent">
        <!-- 历史直播 -->
      </div>
      <!-- 分页 -->
      <div class="page-block">
        <div class="page-wrap" id="historyPageBox">
        </div>
      </div>
    </div>
  </div>
</div>
<!--创建直播-->
<div id="createLiveVideo" class="tab-content Hidden creatLive"></div>
<!--观看记录-->
<div id="recordList" class="tab-content Hidden"></div>
<!--我的关注-->
<div id="followingList" class="tab-content Hidden"></div>
<!---->
<div id="tabSetting" class="tab-content Hidden setting">
  <div id="profileSate" class="two-tab boderRadAll_5 am-margin-top-xl am-margin-bottom">
    <a href="javascript:;" data-state="0" class="right-border active">个人资料</a>
    <a style="margin-left: -4px;" href="javascript:;" data-state="1">修改密码</a>
  </div>
  <!--<ol class="setContrl clearfix" id="profileSate">-->
  <!--<li class="fl on" data-state="0">个人资料</li>-->
  <!--<li class="fl" data-state="1">修改密码</li>-->
  <!--</ol>-->
  <div class="set_Con">
    <div class="personInfo show" id="editProfile">
    </div>
    <div class="modifyPwd Hidden" id="updatePassword">
    </div>
  </div>
</div>
<!--  创建节目单 -->
<div id="tabChannel" class="tab-content Hidden">

</div>
