<!---->
<div class="tab-content my-live-show-wrap" id="tab-my-live">
    <div class="top-header am-margin-top-xl am-margin-bottom">
        <div id="liveState" class="live-status-wrap boderRadAll_5">
            <a href="javascript:;" data-state="0" class="right-border active">未开播</a>
            <a style="margin-left: -4px;" href="javascript:;" data-state="1">历史直播</a>
        </div>
    </div>
    <div class="list-wrap">
        <div id="noOpenListLive" class="unClosed-list-wrap">
            <div id="noOpenContent">
            </div>
            <div id="noOpenPageBox" class="page-wrap">分页</div>
        </div>
        <div id="historyListLive" class="closed-list-wrap Hidden">
            <div id="historyContent">
                <!---->
                <div class="item am-g am-g-collapse am-margin-top am-margin-bottom am-padding-bottom">
                    <div class="am-u-sm-3 img am-margin-right"><img
                            src="http://img3.c.yinyuetai.com/user/avatar/160516/20634338/-M-9e1acc1a265ea969e45e4cb4735ad6b9_386x217.jpg">
                    </div>
                    <div class="am-u-sm-9">
                        <div class="room-title">历历史直播历史直播历史直播历史直播史直播</div>
                        <div class="time"><span class="tip am-margin-right-sm">时长</span><span
                                class="value date">12:34:34</span>
                        </div>
                        <div class="number">
                            <div class="num"><i class="icons view"></i><span>23423</span></div>
                            <div class="num"><i class="icons chat"></i><span>23423</span></div>
                            <div class="num"><i class="icons like"></i><span>23423</span></div>
                        </div>
                        <div class="info"><span class="tip am-margin-right-sm">人气:</span><span
                                class="value">234234</span></div>
                    </div>
                </div>
                <div class="item am-g am-g-collapse am-margin-top am-margin-bottom am-padding-bottom">
                    <div class="am-u-sm-3 img am-margin-right"><img
                            src="http://img3.c.yinyuetai.com/user/avatar/160516/20634338/-M-9e1acc1a265ea969e45e4cb4735ad6b9_386x217.jpg">
                    </div>
                    <div class="am-u-sm-9">
                        <div class="room-title">历历史直播历史直播历史直播历史直播史直播</div>
                        <div class="time"><span class="tip am-margin-right-sm">时长</span><span
                                class="value date">12:34:34</span>
                        </div>
                        <div class="number">
                            <div class="num"><i class="icons view"></i><span>23423</span></div>
                            <div class="num"><i class="icons chat"></i><span>23423</span></div>
                            <div class="num"><i class="icons like"></i><span>23423</span></div>
                        </div>
                        <div class="info"><span class="tip am-margin-right-sm">人气:</span><span
                                class="value">234234</span></div>
                    </div>
                </div>
                <div class="item am-g am-g-collapse am-margin-top am-margin-bottom am-padding-bottom">
                    <div class="am-u-sm-3 img am-margin-right"><img
                            src="http://img3.c.yinyuetai.com/user/avatar/160516/20634338/-M-9e1acc1a265ea969e45e4cb4735ad6b9_386x217.jpg">
                    </div>
                    <div class="am-u-sm-9">
                        <div class="room-title">历历史直播历史直播历史直播历史直播史直播</div>
                        <div class="time"><span class="tip am-margin-right-sm">时长</span><span
                                class="value date">12:34:34</span>
                        </div>
                        <div class="number">
                            <div class="num"><i class="icons view"></i><span>23423</span></div>
                            <div class="num"><i class="icons chat"></i><span>23423</span></div>
                            <div class="num"><i class="icons like"></i><span>23423</span></div>
                        </div>
                        <div class="info"><span class="tip am-margin-right-sm">人气:</span><span
                                class="value">234234</span></div>
                    </div>
                </div>
            </div>
            <div id="historyPageBox" class="page-wrap"></div>


        </div>
    </div>
</div>
<!--创建直播-->
<div id="createLiveVideo" class="tab-content Hidden creatLive"></div>
<!--观看记录-->
<div id="recordList" class="tab-content Hidden"></div>
<!--我的关注-->
<div id="followingList" class="tab-content Hidden"></div>
<!---->
<div id="tabSetting" class="tab-content Hidden setting">
    <ol class="setContrl clearfix" id="profileSate">
        <li class="fl on" data-state="0">个人资料</li>
        <li class="fl" data-state="1">修改密码</li>
    </ol>
    <div class="set_Con">
        <div class="personInfo show" id="editProfile">

        </div>
        <div class="modifyPwd" id="updatePassword">

        </div>

    </div>

</div>
