<div class="anchor-info-wrap">
	<div class="am-circle avatar-wrap center">
		<img id="headAvatar" src="{{bigheadImg}}" class="avatar am-circle">
	</div>
	<div class="name-wrap center am-margin-top-sm am-vertical-align">
		<span id="nickName" class="name white am-vertical-align-middle">{{nickName}}</span>
		<!-- <i class="icon-gender male am-vertical-align-middle am-margin-left-sm"></i> -->
	</div>
	<div class="basic-wrap am-margin-top-lg">
		<div class="center">
			{{if anchor}}
			<span id='createCount' class="create am-margin-right-sm">主持的直播:<span class="white big">{{anchor.liveCount}}</span>场</span>
			{{/if}}
			<span class="watch am-margin-right-sm">观看直播:<span id="txtLive" class="white big">0</span>次</span>
			<span class="score">积分:<span id="txtScore" class="white big">0</span></span>
		</div>
	</div>
	{{if anchor}}
	<div class="tags-wrap center">标签:
		<div class="list" id="tagsWrap">
			{{each anchor.tags as item}}
			<span>{{item}}</span> {{/each}}
		</div>
	</div>
	{{/if}}
</div>
