<div class="record-wrap has-top-space">
    <div id="recordList">
        加载中...
    </div>
    <!---->
    <script type="text/x-template" id="recordTpl">
        <!--<div class="item">-->
            <!--<div class="line">-->
                <!--<span class="point"></span>-->
                <!--<span class="date">item.startTimeTxt</span>-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a href="###" class="img-wrap Left">-->
                    <!--<img src="http://img4.yytcdn.com/video/mv/140924/2140901/EDF20148A55BEBE8677061256232492F_640x360.jpg" onerror=""-->
                         <!--alt="">-->
                    <!--<div class="play"></div>-->
                <!--</a>-->
                <!--<div class="info-wrap Left">-->
                    <!--<div class="item-title">item.roomName</div>-->
                    <!--<div class="time">时长: <span class="">item.durationTxt</span></div>-->
                    <!--<div class="anchor">-->
                        <!--<img src="http://img4.yytcdn.com/video/mv/140924/2140901/EDF20148A55BEBE8677061256232492F_640x360.jpg" onerror="" alt="">-->
                        <!--<a class="name" href="##">item.creator.nickName</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="Clear"></div>-->
            <!--</div>-->
            <!--<div class="icon-list">-->
                <!--<span class="view">2334</span>-->
                <!--<span class="chat">34</span>-->
                <!--<span class="like">3242</span>-->
                <!--<span class="hot">34</span>-->
            <!--</div>-->
        <!--</div>-->
        {{each data.rooms as item}}
        <div class="item">
            <div class="line">
                <span class="point"></span>
                <span class="date">{{item.startTimeTxt}}</span>
            </div>
            <div class="content">
                <a href="{{item.status==2?'liveRoom':'playback'}}.html?roomId={{item.roomId}}" class="img-wrap Left">
                    <img src="{{item.posterPic}}" onerror="src='../img/bg-demo.jpg'"
                         alt="">
                    <div class="play"></div>
                </a>
                <div class="info-wrap Left">
                    <div class="item-title">{{item.roomName}}</div>
                    <div class="time">时长: <span class="">{{item.durationTxt}}</span></div>
                    <div class="anchor">
                        <img src="{{item.creator.smallAvatar}}" onerror="this.src='../img/bg-demo.jpg'" alt="">
                        <a class="name" href="##">{{item.creator.nickName}}</a>
                    </div>
                </div>
                <div class="Clear"></div>
            </div>
            <div class="icon-list">
                <span class="view">{{item.onlineMax}}</span>
                <span class="chat">{{item.bulletCurtain}}</span>
                <span class="like">{{item.assemble}}</span>
                <span class="hot">{{item.popularity}}</span>
            </div>
        </div>
        {{/each}}
        {{ if data.rooms.length <= 0}}
        <div class="no-data">
            暂无数据
        </div>
        {{/if}}

    </script>
    <!--分页-->
    <div class="page-block">
        <div class="page-wrap" id="page-wrap">

        </div>
    </div>
</div>