<form id="formPwd" action="http://i.yinyuetai.com/i/profile/update-password" method="post">
    <ul>
        <li class="Inp_Pc_name">
            <span class="fl PiTitle"><i class="am-margin-right-sm">*</i>旧密码：</span>
            <div class="fl">
                <input id="txtOldPwd" name="oldPassword" placeholder="请输入旧密码" type="password">
            </div>
        </li>
        <li class="Inp_Pc_name">
            <span class="fl PiTitle"><i class="am-margin-right-sm">*</i>新密码：</span>
            <div class="fl">
                <input id="txtNewPwd" name="newPassword" placeholder="请输入新密码" type="password"><span id="tipPwdErr" style="display: none;color:red; padding-left: 5px;">新密码不能跟旧密码一致</span>
            </div>
        </li>
        <li class="Inp_Pc_name">
            <span class="fl PiTitle"><i class="am-margin-right-sm">*</i>确认新密码：</span>
            <div class="fl">
                <input id="txtConfirmPwd" name="newPasswordRepeat" placeholder="请再次输入新密码" type="password">
            </div>
        </li>
    </ul>
</form>
<div class="am-margin-top-xl am-padding-top">
    <button id="btnPwdSave" class="am-center am-btn am-btn-red boderRadAll_3">保存</button>
</div>
