<div class="controls clearfix">
    <div id="btn-clear" class="fl"><img src="../img/clear.png" alt="">清屏</div>
    <div id="btn-lock" class="fl"><img src="../img/clock.png" alt="" class="lock"><span>锁屏</span></div>
</div>
<div class="chatCon" id="chatHistory">
    <!--聊天记录-->
    <ul id="msgList">
        <li class="clearfix">
            <img src="../img/visitor_avator.jpg" alt="" class="fl visitor_avator">
            <p class="visitor_chat fl">
                <span class="visitorName">name:</span>
                你说啥说啥说啥说啥说啥说啥说啥呢哈哈哈啊啊哈啊哈啊啊哈啊哈啊哈asdasds
                <span class="time fr">22秒前</span>
            </p>
            <div class="controls_forbid_reject">
                <a href="#" class="forbid">禁言</a>
                <a href="#" class="reject">踢出</a>
            </div>
        </li>
        <li class="clearfix">
            <img src="../img/visitor_avator.jpg" alt="" class="fl visitor_avator">
            <p class="visitor_chat fl">
                <span class="visitorName">name:</span>
                你说啥说啥说啥说啥说
                <span class="time fr">22秒前</span>
            </p>
            <div class="controls_forbid_reject">
                <a href="#" class="forbid">禁言</a>
                <a href="#" class="reject">踢出</a>
            </div>
        </li>
        <li class="clearfix">
            <img src="../img/visitor_avator.jpg" alt="" class="fl visitor_avator">
            <p class="visitor_chat fl">
                <span class="visitorName">name:</span>
                你说啥说啥说啥说啥说
                <span class="time fr">22秒前</span>
            </p>
            <div class="controls_forbid_reject">
                <a href="#" class="forbid">禁言</a>
                <a href="#" class="reject">踢出</a>
            </div>
        </li>
    </ul>
</div>
