<li class="clearfix <%=msgType==0?'':'system-info'%>" data-msgType="<%=msgType%>" data-name="<%=nickName%>" data-id="<%=fromAccount%>">
  <%if(msgType == 0){%>
  <img onerror="this.src='../img/visitor_avator.jpg'" src="<%=smallAvatar%>" alt="" class="fl visitor_avator">
  <%}%>
  <p class="visitor_chat fl">
    <%if(msgType == 0){%>
    <span class="visitorName"><%=nickName%>:</span>
    <%} else if(msgType == 4){%>
        <span class="visitorName">主播:</span>
    <%} else{%>
        <span class="visitorName">消息:</span>
    <% }%>
    <%=content%>
    <span class="time fr"><%=time%></span>
  </p>
  <div class="controls_forbid_reject">
    <a href="javascript:;" class="forbid">禁言</a>
    <a href="javascript:;" class="reject">踢出</a>
  </div>
</li>
