<h2 class="clearfix annoucement">
    <span class="fl .annoucement_title">公告</span>
    <span id="btnEditNotice" class="fr annoucement_editr">编辑</span>
</h2>
<p id="noticeWrap"></p>
<!--编辑公告弹出框-->
<div id="editNoticPanel" style="display: none;" class="shadow_screen">
    <div class="shadow closeNoticePanel"></div>
    <div class="edit_annmoucement_con" style="width: 450px;">
        <h2 class="edit_title">文字输入<span class="close closeNoticePanel">X</span></h2>
        <div class="editCon">
            <h3>公告内容:</h3>
            <textarea style="width: 375px;" id="txtNotice" placeholder="(公告文字请在50字以内)" maxlength="50"></textarea>
            <div id="errNoticeTip" class="errTip"></div>
            <div class="tipTextarea" style="margin-top: -25px;text-align: right;padding-right: 10px;">你还可以输入50字</div>
            <p style="padding-top: 16px;">
                <a href="####" class="cancel closeNoticePanel">取消</a>
                <a id="btnSubmitNotice" href="####" class="submit">确定</a>
            </p>
        </div>
    </div>
</div>
