<h2 class="clearfix annoucement">
  <span class="fl .annoucement_title">公告</span>
  <span class="fr annoucement_editr">编辑</span>
</h2>
<p>中国证监会为什么总挨骂?是因为手里的权力太大了!”在河南团代表小组会议上，全国人大代表、清华大学法学院教授高西庆说，</p>
<!--编辑公告弹出框-->
<div style="display: none;" class="shadow_screen">
  <div class="shadow"></div>
  <div class="edit_annmoucement_con">
    <h2 class="edit_title">文字输入<span class="close">X</span></h2>
    <div class="editCon">
      <h3>公告内容:</h3>
      <textarea name=""  id="" placeholder="(公告文字请在50字以内)" maxlength="50" ></textarea>
      <p>
        <a href="#" class="cancel">取消</a>
        <a href="#" class="submit">确定</a>
      </p>
    </div>
  </div>
</div>
