<div class="sns-share-wrap">
  <div class="sns-block am-round">
    <div class="arrow"></div>
    <div class="list">
      <a href="http://v.yinyuetai.com/share/weixin?title=<%=title%>&amp;url=<%=url%>" title="分享到微信"></a>
      <a style="display:none" href="javascript:;"></a>
      <a href="http://connect.qq.com/widget/shareqq/index.html?url=<%=url%>&amp;showcount=1&amp;desc=<%=title%>&amp;title=<%=title%>&amp;site=饭趴&amp;pics=<%=img%>?t=20160405161857&amp;style=201&amp;width=39&amp;height=39" title="分享到QQ"></a>
      <a  href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%=url%>&amp;desc=<%=title%>" title="分享到QQ空间"></a>
      <a href="http://v.t.sina.com.cn/share/share.php?appkey=2817290261&amp;url=<%=url%>&amp;title=<%=title%>&amp;content=gb2312&amp;pic=<%=img%>?t=20160405161857&amp;ralateUid=1698229264" title="分享到新浪微博"></a>
      <a data-tag='copy' id="shareCopy" href="javascript:;"></a>
    </div>
  </div>
</div>
