@charset "UTF-8";

@import "../index/viedo-list";

.channel-top-header{
  background-color: #fff;
  border-bottom: 1px solid $main-line-color;
  section{
    height: 50px;
    h3{
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
    }
    nav{
      display: inline-block;
      margin-left: 16px;
      a{
        position: relative;
        display: inline-block;
        margin: 0 16px;
        font-size :12px;
        color: $main-title-color;
        font-weight: 600;
        &:hover,&.active{
          color: $main-bg-purple;
          &:before{
            display: block;
          }
        }
        &:before{
          position: absolute;
          content: ' ';
          display: none;
          height: 2px;
          width:100%;
          background-color: $main-bg-purple;
          left: 0;
          bottom: -15px;
        }
      }
    }
  }
}

.section-header{
  font-size: 14px;
  margin-top: 20px;
  border-bottom: 1px solid $main-line-color;
  color: $main-name-color;
}

.viedo-content{
  margin-top: 16px;
  .item{
    &:hover{
      .center{
        display: inline-block;
      }
    }
    .center{
      display: none;
    }
  }
}

.channel-footer{
  height: 80px;
}
