@charset "UTF-8";

@import "../index/viedo-list";

.channel-top-header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  section {
    height: 50px;
    h3 {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      text-indent: -1000px;
      background: url(../images/index/index_all_live.png) no-repeat;
      width: 71px;
      height: 19px;
    }
    nav {
      display: inline-block;
      margin-left: 16px;
      a {
        position: relative;
        display: inline-block;
        margin: 0 16px;
        font-size: 12px;
        color: $main-title-color;
        font-weight: 600;
        &:hover, &.active {
          color: $main-bg-purple;
          &:before {
            display: block;
          }
        }
        &:before {
          position: absolute;
          content: ' ';
          display: none;
          height: 2px;
          width: 100%;
          background-color: $main-bg-purple;
          left: 0;
          bottom: -15px;
        }
      }
    }
  }
}

.section-header {
  font-size: 14px;
  margin-top: 20px;
  border-bottom: 1px solid $main-line-color;
  color: $main-name-color;
  h2 {
    font-weight: normal;
  }
}

.viedo-content {
  margin-top: 18px;
  display: inline-block;
  .item {
    .top-link {
      height: 160px;
      overflow: hidden;
      img {
        height: auto;
      }
    }
    &:hover {
      .center {
        display: inline-block;
      }
    }
    .center {
      display: none;
    }
  }
}

.channel-footer {
  height: 80px;
}

.section-1, .section-2 {
  .viedo-content {
    width: 1225px !important;
    margin-left: -6px !important;
  }
  .item {
    margin: 0 12px 10px 6px;
    display: inline-block !important;
    .title {
      width: 270px;
    }
    .top-link {
      position: relative;
      &:hover {
        .am-btn {
          display: inline-block;
        }
        .link-hover {
          display: inline-block;
        }
      }
      .link-hover {
        display: none;
      }
      .am-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        font-size: 12px;
        width: 108px;
        height: 30px;
        margin-left: -54px;
        margin-top: -15px;

      }
    }
  }
}
