- var complie = htmlWebpackPlugin.options.complieConfig
- var links = complie.footerLinks
- var copyInfo = 'Copyright © 2009 - 2016 yinyuetai.com 广播电视节目制作经营 许可证编号(京)字第1891号 |'
- copyInfo += '<a href="#">京网文[2016]2037-287号</a> |'
- copyInfo += '<a href="#">网络视听许可证0110413号</a><br>'
- copyInfo += '<span class="ghs"></span>'
- copyInfo += '<a href="#">京公网安备11010502014900号</a>|'
- copyInfo += '京ICP证060716号 |京ICP备11024134号-1 | 出版物经营许可证 新出发京零字第朝130062号 | 增值电信业务经营许可证B2-20140501'
- copyInfo += '<span class="biaoshi"></span>'

.bottom
    p.link
        each obj in links
            a(href=obj.href)=obj.value

    div.copyright!=copyInfo

