- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
- var map = complie.script || []
script(type="text/javascript",src="http://api.geetest.com/get.php")
each item in map
    script(type="text/javascript",src=src+item)
