
#topBar.topBar
    .topBarCon.am-container.am-vertical-align.am-cf
        a.am-vertical-align-middle.log(href='http://www.yinyuetai.com/', title='音悦台',target="_blank")
            //h1.fl.log
        .link-wrap.am-vertical-align-middle
            a.btn-link#index 饭趴首页
            //span.split 
            a.btn-link#all 全部饭趴
        .anchorPc.am-vertical-align-middle.am-fr
            //.fl
            #loginUser.login-user-wrap
