div#topBar.topBar
    div.topBar.clearfix
        a(href="/",title="音悦台")
            h1.fl.log
        div.link-warp
             a.btn-link(href="http://www.yinyuetai.com/")="首页"
             i.split!="|"
             a.btn-link(href="http://fanpa.yinyuetai.com/")="饭趴"
        div.fr.anchorPc
            div.fl
                #loginUser