div#topBar.topBar
    div.topBarCon.clearfix
        a(href="/",title="音悦台")
            h1.fl.log
        div.link-warp
             a.btn-link(href="http://www.yinyuetai.com/")="首页"
             i.split!="|"
             a.btn-link(href="http://fanpa.yinyuetai.com/")="饭趴"
        div.fr.anchorPc
            div.fl
                #loginUser


//#topBar.topBar
//    .topBarCon.clearfix
//        a(href='/', title='音悦台')
//            h1.fl.log
//        .link-wrap
//            a.btn-link(href='http://www.yinyuetai.com/') 首页
//            i.split |
//            a.btn-link(href='http://fanpa.yinyuetai.com/') 饭趴
//        .fr.anchorPc
//            .fl
//                #loginUser
//                    .avator.fl
//                        img(style='width: 40px; height: 40px;', src='http://tp1.sinaimg.cn/1973769700/50/5678264169/1', alt='用户头像')
//                    .loginMsg.fl.hoverMenu
//                        a.user-name.show-drop-menu(href='#')
//                            | 袁家小黑球
//                            span
//                        ul.pcNav.hoverMenu
//                            li
//                                a(href='/web/anchorsetting.html') 个人中心
//                            li
//                                span#logout.header-logout 退出
//            // <a href="http://www.yinyuetai.com" class="fl goHome">返回主站</a>
