
#topBar.topBar
    .topBarCon.clearfix
        a(href='/', title='音悦台')
            h1.fl.log
        .link-wrap
            a.btn-link(href='http://www.yinyuetai.com/') 首页
            i.split |
            a.btn-link(href='http://fanpa.yinyuetai.com/') 饭趴
        .fr.anchorPc
            .fl
                #loginUser
