
#topBar.topBar
    .topBarCon.am-container.am-vertical-align.am-cf
        a.am-vertical-align-middle.log(href='/', title='音悦台')
            //h1.fl.log
        .link-wrap.am-vertical-align-middle
            a.btn-link(href='http://www.yinyuetai.com/') 首页
            span.split |
            a.btn-link(href='http://fanpa.yinyuetai.com/') 饭趴
        .anchorPc.am-vertical-align-middle.am-fr
            //.fl
            #loginUser.login-user-wrap
