@charset "UTF-8";
$main-bg-green-color: #01ceb5;
$main-bg-theme-color: #f8f8f8;
$main-bg-anchor-color: #e9f9f9;
$main-bg-purple: #798fd8;
$main-bg-light-purple: #e6ebfb;
$main-bg-red: #ff6666;
$main-hover-red: #fe7373;
$main-font-light-color: #999;
$main-font-light-color2: #5c5c5c;

$main-line-color: #d9d9d9;
$main-text-color: #C5C5C5;
$main-name-color: #666;
$main-title-color: #7a7a7a;
$main-top-bar-bg-color: #4b46a0;
$index-title-color: #333;
$main-top-bar-height: 50px;

body {
  font-size: 14px;
  background: $main-bg-theme-color;
}
* {
  margin: 0;
  padding: 0;
}
.clearfix:after,
.clearfix:before {
  display: block;
  content: "";
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
dd,
dl,
dt,
li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  // font-family: '微软雅黑';
  line-height: 1em;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: top;
}
.common_con {
  width: 1200px;
  margin: 0 auto;
}
.light-color {
  color: #c3c3c3;
}
//微软雅黑字体
.font-yahei {
  font-family: '微软雅黑';
  font-size: 16px;
}
.btn {
  text-align: center;
  display: inline-block;
  background-color: $main-bg-green-color;
  color: #fff;
}
/*超出后显示省略号*/
.overflow_ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.WordBreak {
  word-break: break-all;
  word-wrap: break-word;
}
.Hand {
  cursor: pointer;
}
.Pointer {
  cursor: pointer;
}
.InlineBlock {
  display: inline-block !important;
}
.Block {
  display: block;
}
.NoUnderline {
  text-decoration: none !important;
}
.Underline {
  text-decoration: underline !important;
}
.Absolute {
  position: absolute !important;
}
.Relative {
  position: relative !important;
}
.Fixed {
  position: fixed !important;
}
/*浮动*/
.Left {
  float: left !important;
}
.Right {
  float: right !important;
}
.Clear {
  clear: both;
  visibility: hidden;
  border-top: 0;
  margin-top: -1px !important;
}
.TxtLeft {
  text-align: left !important;
}
.TxtCenter {
  text-align: center !important;
}
.TxtRight {
  text-align: right !important;
}
.TxtTop {
  vertical-align: top !important;
}
.TxtTop img {
  vertical-align: top !important;
}
.TxtMiddle {
  vertical-align: middle !important;
}
.TxtBottom {
  vertical-align: bottom !important;
}
.Border0 {
  border: 0 !important;
}
.BorderBottom0 {
  border-bottom: 0 !important;
}
.Hidden {
  display: none;
}
.Visibility {
  visibility: hidden;
}
/*Font*/
.Arial {
  font-family: Arial !important;
}
.Italic {
  font-style: italic;
}
.Bold {
  font-weight: bold !important;
}
.Normal {
  font-weight: normal !important;
}
//滤镜
.Alpha9_6 {
  opacity: 0.96;
  -moz-opacity: 0.96;
  filter: alpha(opacity=96);
}
.Alpha9 {
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
}
.Alpha8 {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
.Alpha7 {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
}
.Alpha6 {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
}
.Alpha5 {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
}
.Alpha4 {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
.Alpha3 {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.Alpha2 {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=20);
}
.Alpha1 {
  opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity=10);
}
/*Margin And Padding*/
.mp0 {
  margin: 0 !important;
  padding: 0 !important;
}
.mAll5 {
  margin: 5px !important;
}
.mAll10 {
  margin: 10px !important;
}
.mAll12 {
  margin: 12px !important;
}
.mAll15 {
  margin: 15px !important;
}
.mAll20 {
  margin: 20px !important;
}
.mAll30 {
  margin: 30px !important;
}
.mTop0 {
  margin-top: 0 !important;
}
.mTop2 {
  margin-top: 2px !important;
}
.mTop3 {
  margin-top: 3px !important;
}
.mTop5 {
  margin-top: 5px !important;
}
.mTop6 {
  margin-top: 6px !important;
}
.mTop7 {
  margin-top: 7px !important;
}
.mTop8 {
  margin-top: 8px !important;
}
.mTop10 {
  margin-top: 10px !important;
}
.mTop11 {
  margin-top: 11px !important;
}
.mTop12 {
  margin-top: 12px !important;
}
.mTop13 {
  margin-top: 13px !important;
}
.mTop15 {
  margin-top: 15px !important;
}
.mTop18 {
  margin-top: 18px !important;
}
.mTop20 {
  margin-top: 20px !important;
}
.mTop25 {
  margin-top: 25px !important;
}
.mTop30 {
  margin-top: 30px !important;
}
.mTop35 {
  margin-top: 35px !important;
}
.mTop40 {
  margin-top: 40px !important;
}
.mTop45 {
  margin-top: 45px !important;
}
.mTop50 {
  margin-top: 50px !important;
}
.mRight0 {
  margin-right: 0 !important;
}
.mRight2 {
  margin-right: 2px !important;
}
.mRight3 {
  margin-right: 3px !important;
}
.mRight5 {
  margin-right: 5px !important;
}
.mRight7 {
  margin-right: 7px !important;
}
.mRight10 {
  margin-right: 10px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.mRight15 {
  margin-right: 15px !important;
}
.mRight20 {
  margin-right: 20px !important;
}
.mRight30 {
  margin-right: 30px !important;
}
.mRight35 {
  margin-right: 35px !important;
}
.mRight40 {
  margin-right: 40px !important;
}
.mBottom3 {
  margin-bottom: 3px !important;
}
.mBottom4 {
  margin-bottom: 4px !important;
}
.mBottom5 {
  margin-bottom: 5px !important;
}
.mBottom6 {
  margin-bottom: 6px !important;
}
.mBottom10 {
  margin-bottom: 10px !important;
}
.mBottom12 {
  margin-bottom: 12px !important;
}
.mBottom15 {
  margin-bottom: 15px !important;
}
.mBottom20 {
  margin-bottom: 20px !important;
}
.mBottom30 {
  margin-bottom: 30px !important;
}
.mLeft5 {
  margin-left: 5px !important;
}
.mLeft10 {
  margin-left: 10px !important;
}
.mLeft12 {
  margin-left: 12px !important;
}
.mLeft15 {
  margin-left: 15px !important;
}
.mLeft20 {
  margin-left: 20px !important;
}
.mLeft25 {
  margin-left: 25px !important;
}
.mLeft30 {
  margin-left: 30px !important;
}
.mLeft35 {
  margin-left: 35px !important;
}
.mLeft40 {
  margin-left: 40px !important;
}
.mLeft48 {
  margin-left: 40px !important;
}
.mLeft50 {
  margin-left: 50px !important;
}
.mLeft80 {
  margin-left: 80px !important;
}
.pAll0 {
  padding: 0 !important;
}
.pAll2 {
  padding: 2px !important;
}
.pAll5 {
  padding: 5px !important;
}
.pAll10 {
  padding: 10px !important;
}
.pAll15 {
  padding: 15px !important;
}
.pAll20 {
  padding: 20px !important;
}
.pAll30 {
  padding: 30px !important;
}
.pTop0 {
  padding-top: 0 !important;
}
.pTop5 {
  padding-top: 5px !important;
}
.pTop10 {
  padding-top: 10px !important;
}
.pTop15 {
  padding-top: 15px !important;
}
.pTop20 {
  padding-top: 20px !important;
}
.pTop25 {
  padding-top: 25px !important;
}
.pTop30 {
  padding-top: 30px !important;
}
.pTop35 {
  padding-top: 35px !important;
}
.pTop45 {
  padding-top: 45px !important;
}
.pRight0 {
  padding-right: 0 !important;
}
.pRight5 {
  padding-right: 5px !important;
}
.pRight10 {
  padding-right: 10px !important;
}
.pRight15 {
  padding-right: 15px !important;
}
.pRight20 {
  padding-right: 20px !important;
}
.pRight25 {
  padding-right: 25px !important;
}
.pRight30 {
  padding-right: 30px !important;
}
.pRight40 {
  padding-right: 40px !important;
}
.pBottom5 {
  padding-bottom: 5px !important;
}
.pBottom10 {
  padding-bottom: 10px !important;
}
.pBottom15 {
  padding-bottom: 15px !important;
}
.pBottom20 {
  padding-bottom: 20px !important;
}
.pBottom30 {
  padding-bottom: 30px !important;
}
.pBottom50 {
  padding-bottom: 50px !important;
}
.pLeft0 {
  padding-left: 0 !important;
}
.pLeft5 {
  padding-left: 5px !important;
}
.pLeft7 {
  padding-left: 7px !important;
}
.pLeft8 {
  padding-left: 8px !important;
}
.pLeft9 {
  padding-left: 9px !important;
}
.pLeft10 {
  padding-left: 10px !important;
}
.pLeft12 {
  padding-left: 12px !important;
}
.pLeft15 {
  padding-left: 15px !important;
}
.pLeft20 {
  padding-left: 20px !important;
}
.pLeft25 {
  padding-left: 25px !important;
}
.pLeft30 {
  padding-left: 30px !important;
}
.pLeft29 {
  padding-left: 29px !important;
}
.pLeft35 {
  padding-left: 35px !important;
}
.pLeft36 {
  padding-left: 36px !important;
}
.pLeft40 {
  padding-left: 40px !important;
}
.pLeft45 {
  padding-left: 45px !important;
}
.pLeft50 {
  padding-left: 50px !important;
}
.Font10 {
  font-size: 10px !important;
  -webkit-text-size-adjust: none;
}
.Font12 {
  font-size: 12px !important;
}
.Font14 {
  font-size: 14px !important;
}
.Font16 {
  font-size: 16px !important;
}
.Font17 {
  font-size: 17px !important;
}
.Font18 {
  font-size: 18px !important;
}
.Font20 {
  font-size: 20px !important;
}
.Font22 {
  font-size: 22px !important;
}
.Font24 {
  font-size: 24px !important;
}
.Font26 {
  font-size: 26px !important;
}
.Font30 {
  font-size: 30px !important;
}
.Font32 {
  font-size: 32px !important;
}
.Font36 {
  font-size: 36px !important;
}
.Font48 {
  font-size: 48px !important;
}
.Font56 {
  font-size: 56px !important;
}
.LineHeight15 {
  line-height: 15px !important;
}
.LineHeight16 {
  line-height: 16px !important;
}
.LineHeight20 {
  line-height: 20px !important;
}
.LineHeight22 {
  line-height: 22px !important;
}
.LineHeight24 {
  line-height: 24px !important;
}
.LineHeight25 {
  line-height: 25px !important;
}
.LineHeight26 {
  line-height: 26px !important;
}
.LineHeight27 {
  line-height: 27px !important;
}
.LineHeight28 {
  line-height: 28px !important;
}
.LineHeight30 {
  line-height: 30px !important;
}
.LineHeight35 {
  line-height: 35px !important;
}
.LineHeight40 {
  line-height: 40px !important;
}
.LineHeight50 {
  line-height: 50px !important;
}
/*文本向上黑色阴影*/
.textShadowTopBlack {
  text-shadow: black 0 -1px 0;
  -webkit-text-shadow: black 0 -1px 0;
  -moz-text-shadow: black 0 -1px 0;
}
.textShadowTopC54A00 {
  text-shadow: #c54a00 0 -1px 0;
  -webkit-text-shadow: #c54a00 0 -1px 0;
  -moz-text-shadow: #c54a00 0 -1px 0;
}
/*文本向下白色阴影 1px*/
.textShadowBottomWhite {
  text-shadow: white 0 1px 0;
  -webkit-text-shadow: white 0 1px 0;
  -moz-text-shadow: white 0 1px 0;
}
/*文本向下白色阴影*/
.textShadowBottomBlack {
  text-shadow: black 0 3px 0;
  -webkit-text-shadow: black 0 3px 0;
  -moz-text-shadow: black 0 3px 0;
}
/*带 border 三角图标 background:#f8f8f8 border:#cfcfcf  上 */
.arrowUpOuter {
  width: 0;
  height: 0;
  border-width: 10px 9px;
  border-style: solid;
  border-color: #fff #fff #cfcfcf #fff;
  position: relative;
}
.arrowUpInner {
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: transparent transparent #f8f8f8 transparent;
  position: absolute;
  top: -7px;
  left: -9px;
}
/*带 border 三角图标 background:#f8f8f8 border:#cfcfcf  右 */
.arrowRightOuter {
  width: 0;
  height: 0;
  border-width: 9px 10px;
  border-style: solid;
  border-color: #fff #fff #fff #cfcfcf;
  position: relative;
}
.arrowRightInner {
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: transparent transparent transparent #f8f8f8;
  position: absolute;
  top: -9px;
  left: -10px;
}
/*带 border 三角图标 background:#f8f8f8 border:#cfcfcf  下 */
.arrowDownOuter {
  width: 0;
  height: 0;
  border-width: 10px 9px;
  border-style: solid;
  border-color: #cfcfcf transparent transparent transparent;
  position: relative;
}
.arrowDownInner {
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: #f8f8f8 transparent transparent transparent;
  position: absolute;
  top: -11px;
  left: -9px;
}
/*带 border 三角图标 background:#f8f8f8 border:#cfcfcf  左 */
.arrowLeftOuter {
  width: 0;
  height: 0;
  border-width: 9px 10px;
  border-style: solid;
  border-color: #fff #cfcfcf #fff #fff;
  position: relative;
}
.arrowLeftInner {
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: transparent #f8f8f8 transparent transparent;
  position: absolute;
  top: -9px;
  left: -8px;
}
.arrowDown {
  width: 0;
  height: 0;
  border-width: 4px 4px 0 4px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  overflow: hidden;
}
.arrowRight {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #aaa;
  margin-left: 5px;
}
.arrowLeft {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #aaa transparent transparent;
  margin-left: 5px;
}
.arrowAutoLeft {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 30px 25px 30px 0;
  border-style: solid;
  border-color: transparent #0066cc transparent transparent;
  float: left;
  background: #fff;
}
/*边框圆角*/
.boderRadAll_2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.boderRadAll_3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.boderRadAll_5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.boderRadAll_10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.boderRadAll_20 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.boderRadAll_35 {
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}
.boderRadTop_5 {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* 扩展 */
.icons {
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 20px;
  background-position: 0 8px;
  vertical-align: middle;
}
.icons {
  display: inline-block;
  &.view {
    background-image: url("../images/record-icons_1.png");
  }
  &.chat {
    background-image: url("../images/record-icons_2.png");
  }
  &.chat2 {
    background-image: url("../images/record-icons_2.png");
  }
  &.like {
    background-image: url("../images/record-icons_3.png");
  }
  &.hot {
    background-image: url("../images/record-icons_4.png");
  }
  //&.close {
  //  background-image: url(../images/base/icon/pupup_close_03.png);
  //  background-position: 0 0;
  //  &:hover {
  //    background-position: 0 0 !important;
  //    background-image: url(../images/base/icon/pupup_close_03.png);
  //  }
  //}
  &.am-yyt-close{
    width: 24px;
    height: 24px;
    padding-left: 0!important;
  }
  &.close-gray {
    background-image: url("../images/base/icon/pupup_close_07.png");
  }
  &.close-white {
    background-image: url(../images/icons/icons_close_white.png);
  }
  &.close-red {
    background-image: url(../images/icons/icons_close_red.png);
  }
  &.close-blue {
    background-image: url(../images/icons/icons_close_blue.png);
  }
  &.close-black {
    background-image: url(../images/icons/icons_close_black.png);
  }
}
.disabled {
  color: #fff;
  background: #d3d1d1 !important;
  cursor: pointer;
  border-color: #d3d1d1!important;
}
.am-container {
  max-width: 1203px !important;
  width: 1203px !important;
  padding: 0 !important;
}
.has-top-bar {
  margin-top: $main-top-bar-height;
}
.has-top-space {
  padding-left: 16px;
  margin-top: 60px;
}
//紫色按钮
.am-btn-purple {
  background-color: $main-bg-purple;
  color: #fff;
  border-color: $main-bg-purple;
  &:focus,
  &:hover {
    color: #fff;
    background-color: #839ae9;
  }
}
.am-btn-red {
  background-color: $main-bg-red;
  color: #fff;
  border-color: $main-bg-red;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background-color: #fd7b7b;
    outline: inherit!important;
    outline-offset: inherit;
  }
}


$rgba-color-black: rgba(0, 0, 0, 0.6);
$rgba-color-white: rgba(255, 255, 255, 0);
:root .gradient-up {
  filter: none;
}
:root .gradient {
  filter: none;
}
.gradient {
  background: rgba(0, 0, 0, .5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#66000000', EndColorStr='#66000000');
}
.gradient-up {
  background: $rgba-color-black;
  background: -moz-linear-gradient(bottom, $rgba-color-black 0%, $rgba-color-white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $rgba-color-black), color-stop(100%, $rgba-color-white));
  background: -webkit-linear-gradient(bottom, $rgba-color-black 0%, $rgba-color-white 100%);
  background: -o-linear-gradient(bottom, $rgba-color-black 0%, $rgba-color-black 100%);
  background: -ms-linear-gradient(bottom, $rgba-color-black 0%, $rgba-color-white 100%);
  background: linear-gradient(to top, $rgba-color-black 0%, $rgba-color-white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#000000', endColorstr='#ffffff', GradientType=0);
}
.box-shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 107px 12px inset;
}
// 修正Amazue UI 的的浮动方向为向左
[class*=am-u-] + [class*=am-u-]:last-child {
  float: left;
}
// 禁用
.m_disabled {
  background-color: #c3c3c3 !important;
  color: #fff;
  border: 1px solid #c3c3c3;
}
// 性别
.icon-gender {
  display: inline-block;
  width: 14px;
  height: 14px;
  &.male {
    background: url("../images/gender_2.png") no-repeat;
    background-position: 2px 0;
  }
  &.famle {
    background: url("../images/gender_1.png") no-repeat;
    background-position: 1px 0;
  }
}
