.loginbox {
  overflow: hidden;
}

.loginbox #captcha {
  margin-bottom: 18px;
}

.loginbox .external {
  float: left;
  width: 284px;
  height: 275px;
  margin: 34px 0 0 46px;
  border-right: 1px solid #ccc;
  _display: inline;
}

.loginbox .title {
  color: #333;
  font: 14px/27px 'simsun';
  font-weight: bold;
}

.loginbox .external .title {
  margin-bottom: 28px;
}

.loginbox .site .title {
  margin-bottom: 2px;
}

.loginbox .title span {
  font: 12px/28px 'simsun';
  color: #ef3e00;
}

.loginbox .external ul {
  width: 244px;
  height: 76px;
  margin-bottom: 21px;
}

.loginbox .external li {
  float: left;
  margin: 0 15px 14px 0;
}

.loginbox .external li a {
  display: block;
  width: 107px;
  height: 31px;
  overflow: hidden;
  text-indent: -999em;
  background: url('../images/loginBox/loginBox.png') no-repeat;
}

.loginbox .external .weibo {
  background-position: 0 0;
}

.loginbox .weibo:hover {
  background-position: 0 -31px;
}

.loginbox .weibo:active {
  background-position: 0 -62px;
}

.loginbox .external .qq {
  background-position: -108px 0;
}

.loginbox .qq:hover {
  background-position: -108px -31px;
}

.loginbox .qq:active {
  background-position: -108px -62px;
}

.loginbox .external .renren {
  background-position: -216px 0;
}

.loginbox .renren:hover {
  background-position: -216px -31px;
}

.loginbox .renren:active {
  background-position: -216px -62px;
}

.loginbox .external .baidu {
  background-position: -324px 0;
}

.loginbox .baidu:hover {
  background-position: -324px -31px;
}

.loginbox .baidu:active {
  background-position: -324px -62px;
}

.loginbox .external .text {
  color: #999;
  font: 14px/18px 'simsun';
}

.loginbox .site {
  float: left;
  width: 270px;
  margin: 34px 0 0 35px;
  _display: inline;
}

.loginbox form {
  margin-left: 10px;
}

.loginbox .errorinfo {
  width: 259px;
  height: 22px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  line-height: 21px;
  visibility: hidden;
  background: url('../images/loginBox/loginBox.png') no-repeat 0 -286px;
}

.loginbox .show {
  visibility: visible;
}

.loginbox .email {
  width: 215px;
  height: 32px;
  line-height: 32px;
  padding: 0 3px 0 42px;
  margin-bottom: 17px;
  background: url('../images/loginBox/loginBox.png') no-repeat 0 -93px;
}

.loginbox .email.emailfocus {
  background-position: 0 -125px;
}

.loginbox .email.emailerror {
  background-position: 0 -157px;
}

.loginbox .email input {
  width: 213px;
  *margin-left: -10px;
  *margin-top: 8px;
}

.loginbox .password {
  width: 215px;
  height: 32px;
  line-height: 32px;
  padding: 0 3px 0 42px;
  margin-bottom: 18px;
  background: url('../images/loginBox/loginBox.png') no-repeat 0 -189px;
}

.loginbox .password.focus {
  background-position: 0 -221px;
}

.loginbox .password.error {
  background-position: 0 -253px;
}

.loginbox .password input {
  width: 213px;
  *margin-left: -10px;
  *margin-top: 8px;
}

.loginbox .autologin {
  float: left;
  color: #999;
  margin-bottom: 14px;
  *margin-bottom: -2px;
}

.loginbox .autologin input {
  margin: 2px 6px 0 4px;
  vertical-align: top;
  *margin-top: -1px;
  cursor: pointer;
}

.loginbox .autologin label {
  cursor: pointer;
}

.loginbox .forgot {
  float: right;
  margin-right: 3px;
  color: #690;
  _display: inline;
}

.loginbox .submit:hover {
  background-position: -261px -126px;
}

.loginbox .submit {
  float: left;
  width: 87px;
  height: 33px;
  clear: left;
  cursor: pointer;
  text-indent: -999em;
  background: url('../images/loginBox/loginBox.png') no-repeat -261px -93px;
}

.loginbox .submit:active {
  background-position: -261px -159px;
}

.loginbox .reg {
  float: right;
  line-height: 31px;
  margin-right: -8px;
  color: #666;
}

.loginbox .reg a {
  color: #690;
}
