.page-block {
  text-align: right;
  padding: 16px 20px;
}
.page-wrap {
  display: inline-block;
  a,
  span {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    color: #999;
    padding: 0;
    line-height: 32px;
    text-align: center;
    border-radius: 25px;
    margin: 0 5px;
    &:first-child,
    &:last-child {
      // color: $main-name-color;
      // background-color: #fff;
      // border: 1px solid $main-name-color;
    }
    &.current,
    &:hover {
      color: #fff;
      background-color: $main-bg-purple;
      // border-radius: 25px;
    }
  }
  .icons {
    width: 32px;
    height: 32px;
    background-position-y: 0;
    &.paging-right {}
    &.paging-left {}
  }
}
