.shadow_screen_x {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1;
  }
}

.edit_Bg_form_x {
  width: 580px;
  height: 341px;
  border: 3px solid #252929;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -290px;
  margin-top: -176px;
  background: #fff;
  .edit_title {
    height: 56px;
    background: #000;
    width: 100%;
    color: #8a8a8a;
    font-size: 14px;
    line-height: 56px;
    text-indent: 15px;
    overflow: hidden;
    .upload-status {
      color: #ccc;
      font-weight: normal;
      margin-left: 38px;
    }
  }
  .formCon {
    padding: 52px 0 0 47px;
  }
  .imgBox {
    width: 180px;
    height: 180px;
    margin-bottom: 60px;
    background: #f5f5f5;
    background-image: url('../images/upload-file-default-bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .formBox {
    padding-top: 4px;
    width: 317px;
    text-align: center;
    position: relative;
    #file,[type='file'] {
      position: absolute;
      top: 4px;
      left: 98px;
      width: 120px;
      height: 38px;
      background: none;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
    }
    .pseudo-uploadBtn {
      width: 120px;
      height: 38px;
      line-height: 38px;
      background: #27d5bf;
      font-size: 14px;
      margin: 0 auto;
      color: #fff;
      cursor: pointer;
      margin-bottom: 14px;
    }
    .pseudo-uploadBtn:hover {
      background: #5bdfcd;
    }
    p {
      color: #bcbbbb;
      font-size: 12px;
      text-align: center;
      margin-bottom: 73px;
    }
    .submit {
      width: 90px;
      height: 38px;
      background: #27d5bf;
      text-align: center;
      line-height: 38px;
      margin: 0 auto;
      color: #fff;
      cursor: pointer;
    }
    .submit:hover {
      background: #5bdfcd;
    }
  }
}

.editor_bg_close_x {
  font-size: 28px;
  padding-right: 7px;
  font-family: 'arial';
  font-weight: lighter;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
  color: #616161;
}

.editor_bg_close_x:hover {
  color: #39c4b2;
}
