<div id="UIConfigWrap" class="shadow_screen">
    <div class="shadow"></div>
    <div class="edit_annmoucement_con" style="margin-bottom: 16px; width: 400px;margin-left:-200px;">
        <h2 class="edit_title"><span class="title" id="UIConfirmTitle"><%=title%></span> <span class="close icons am-yyt-close close-black UIConfirmClose"></span></h2>
        <div class="editCon" style="">
            <div class="content" style="padding:16px; font-size: 14px;"><%=content%></div>
            <p class="btn-wrap am-margin-top" >
                <a style="display: <%= okBtn?'inline-block':'none'%>;" id="UIConfirmOk" href="javascript:;" class="boderRadAll_5 submit active am-margin-right">确定</a>
                <a style="display: <%= cancelBtn?'inline-block':'none'%>;" href="javascript:;" class="boderRadAll_5 cancel UIConfirmClose am-margin-left">取消</a>
            </p>
        </div>
    </div>
</div>
