//
   Created by AaronYuan on 5/6/16.

doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        div.not-found-wrap
            p="您访问的页面不存在"
                a(href='/')="返回饭趴"
        include common/footer
        include common/lib
        include common/statistic
