- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
doctype html
html(lang="en")
  head
    include common/head
    include common/style
  body
    include common/topbar
    include anchor-setting/container
    include common/footer
    include common/lib
    script(type='text/javascript', src=src + 'jquery-plugins/jquery.paging.min.js')