//
   Created by AaronYuan on 4/20/16.
doctype html
html(lang="en")
    head
        - var titleValue = htmlWebpackPlugin.options.title
        title=titleValue
        meta(charset="UTF-8")
        //include common/style
    body
        include anchor/main
        //include common/header
        //include index/container
        //include common/footer
        //include common/lib