//
   Created by AaronYuan on 4/20/16.
- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include anchor/main
        include common/footer
        include common/lib
        include common/statistic
        script(type="text/javascript",src=src+'webim/json2.js')
        script(type="text/javascript",src=src+'webim/webim.js')
