//
   Created by AaronYuan on 6/7/16.
- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include channel/live
        include common/footer
        include common/lib
