//
   Created by AaronYuan on 5/27/16.
   频道列表
doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include channel/list
        include common/footer
        include common/lib
