doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include index/main
        include common/footer
        include common/lib
        include common/statistic
