doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include index/container
        include common/footer
        include common/lib