//
   Created by AaronYuan on 5/4/16.

doctype html
html(lang="en")
    head
        include common/head
        include common/style
    body
        include common/topbar
        include playback/list
        include common/footer
        include common/lib
