div.index-container
  #topContainer.top-container
  div.list-container
    div.list-set-container
      div#livePreviewBlock
        div.list-title
          h1="热门直播"
          div.list-tag
            span.live-in="LIVE IN"
        div.list-box-content
          ul#livePreview
      div
        div.list-title
          h1="精彩回放"
          div.list-tag
            span.live-in="HOT PLAYBACK"
            a(href='playbacklist.html', style='margin-right: 10px; font-size: 12px;float:right; color: #999;') 全部回放
        div.list-box-content
          ul#playbackVideo
