<div class="user-info-wrap clearfix">
    <img class="Left avator boderRadAll_35"
         src="http://img1.yytcdn.com/user/avatar/160322/703-1458640483613/-M-216abfaf3d4ae2ee4d194029b70cdc9d_100x100.jpg"
         alt="">
    <div class="info Left">
        <div class="name overflow_ellipsis">撒旦法是否是是法撒旦法</div>
        <div class="btn-wrap mTop10">
            <button class="btn Hand "><i class="add Left"></i> 加关注</button>
            <button class="btn Hand mLeft5"><i class="Left report"></i> 举报</button>
            <div class="Clear"></div>
        </div>
    </div>
</div>
<div class="tags mTop10">
    <div class="gary1 Left">标签:</div>
    <div class="Right">
        <span class="item">测试五个字</span>
        <span class="item">测试五个字</span>
        <!--<span class="item">测试五个字</span>-->
        <!--<span class="item">测试五个字</span>-->
        <span class="item">测试五个字</span>
    </div>
    <div class="Clear"></div>
</div>
<div class="room-notice mTop10 boderRadAll_5">
    <i class="trumpet mLeft5 Left"></i>
    <div class="gary2 WordBreak notice mLeft30">测测试五个字测试
        测试五个字测试五个字测试五个字测试五个字测试五个字</div>
    <div class="Clear"></div>
</div>
