<!--<div class="controls clearfix">-->
    <!--<div id="btn-clear" class="fl"><img src="../img/clear.png" alt="">清屏</div>-->
    <!--<div id="btn-lock" class="fl"><img src="../img/clock.png" alt="" class="lock"><span>锁屏</span></div>-->
<!--</div>-->
<div class="chatCon pTop5" id="chatHistory">
    <!--聊天记录-->
    <ul id="msgList">
        <li class="clearfix <%=mstType==0?'':'system-info'%>" data-msgType="<%=mstType%>" data-name="<%=nickName%>" data-id="<%=fromAccount%>">
            <!--<%if(mstType == 0){%>-->
            <img onerror="this.src='../img/visitor_avator.jpg'" src="<%=smallAvatar%>" alt="" class="fl visitor_avator">
            <!--<%}%>-->
            <p class="visitor_chat fl">
                <span class="visitorName"><%=nickName%>:</span>
                <%=content%>22
                <span class="time fr"><%=time%></span>
            </p>
            <!--<div class="controls_forbid_reject">-->
                <!--<a href="javascript:;" class="forbid">禁言</a>-->
                <!--<a href="javascript:;" class="reject">踢出</a>-->
            <!--</div>-->
        </li>

    </ul>
</div>
