<li>
    <div class="item Left mLeft10 mRight10">
        <a class="img-wrap" href="">
            <div class="hover-wrap Hand">
                <img class="played-icon" src="/img/live_paly_03.png" alt="">
            </div>
            <img src="/img/user_47.jpg" alt="/img/user_47.jpg">
        </a>
        <div class="name mTop15">EXO签售EXO签售直</div>
        <div class="info mTop10 gary2">
            <!--<span class="Right"><i class="like-count"></i>34</span>-->
            <!--<span class="Right mRight20"><i class="coments-count"></i>234</span>-->
            <div class="Clear"></div>
        </div>
        <div class="btn-wrap mTop10 pAll5">
            <div class="Left gary2 mTop10 pBottom10">人气: <span class="count">234234</span></div>
            <span class="Right mTop10 pBottom10"><i class="like-count"></i>34</span>
            <span class="Right mRight20 mTop10 pBottom10"><i class="coments-count"></i>234</span>
            <div class="Clear"></div>
        </div>
    </div>
</li>

<!--<li>-->
<!--<div class="item Left mLeft10 mRight10">-->
<!--<a class="img-wrap" href=""><img src="/img/user_47.jpg" alt="/img/user_47.jpg"></a>-->
<!--<div class="name mTop15">EXO签售EXO签售直</div>-->
<!--<div class="info mTop10 gary2">-->
<!--<span>直播时间:2015/12/12:23:23</span>-->
<!--<span class="Right"><i class="like-count"></i>34</span>-->
<!--<span class="Right mRight20"><i class="coments-count"></i>234</span>-->
<!--<div class="Clear"></div>-->
<!--</div>-->
<!--<div class="btn-wrap mTop10 pAll5">-->
<!--<div class="block-left Left">-->
<!--<div class="progress mTop5 boderRadAll_5">-->
<!--<div class="value boderRadAll_5"></div>-->
<!--</div>-->
<!--<div class="gary2 mTop10">人气: <span class="count">234234</span></div>-->
<!--</div>-->
<!--<button class="btn Right Hand">推上去</button>-->
<!--<div class="Clear"></div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
